{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <div class="page_title p-30">
        <h3 class="mb-0">Buying</h3>
    </div>
    <div class="content cart_tab">
        <div class="content_inner p-30">
            <div class="tab_list d-flex align-items-center">
                <nav>
                    <div class="nav nav-tabs nav-fill border-0" id="buying-tab" role="tablist">
                        <a class="nav-item nav-link gray_c mr-3 active" id="bids-tab" data-toggle="tab"
                           href="#active_bids" role="tab" aria-selected="false">Active Bids</a>
                        <a class="nav-item nav-link gray_c mr-3" id="pending-tab" data-toggle="tab" href="#pending_buys"
                           role="tab" aria-selected="true">Pending Buys</a>
                        <a class="nav-item nav-link gray_c " id="complted-tab" data-toggle="tab" href="#completed_buys"
                           role="tab" aria-selected="true">Completed Buys</a>
                    </div>
                </nav>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="active_bids" role="tabpanel" aria-labelledby="bids-tab">
                    <div class="option-table-wrap">
                        <div class="row">
                            <div class="col-12">
                                <div class="tbl-shadow clearfix rounded ">
                                    <table class="w-100  border-gray table-hover" id="example">
                                        <thead>
                                        <tr class="option-tbl-head">
                                            <th class="msg-tbl-head"># <i class="fa fa-sort" aria-hidden="true"
                                                                          title="Sort"></i></th>
                                            <th class="msg-tbl-head">SKU <i class="fa fa-sort" aria-hidden="true"
                                                                            title="Sort"></i></th>
                                            <th class="msg-tbl-head">SNEAKER <i class="fa fa-sort" aria-hidden="true"
                                                                                title="Sort"></i></th>
                                            <th class="msg-tbl-head">SIZE <i class="fa fa-sort" aria-hidden="true"
                                                                             title="Sort"></i></th>
                                            <th class="msg-tbl-head">BID PRICE <i class="fa fa-sort" aria-hidden="true"
                                                                                  title="Sort"></i></th>
                                            <th class="msg-tbl-head">HIGHEST BID<i class="fa fa-sort" aria-hidden="true"
                                                                                   title="Sort"></i></th>
                                            <th class="msg-tbl-head">LOWEST BID<i class="fa fa-sort" aria-hidden="true"
                                                                                  title="Sort"></i></th>
                                            <th class="msg-tbl-head"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="option-tbl-body" id="option-tbl">
                                        {% for bid,prices in bids %}
                                            <tr class="bodr-gray-top gray_c">
                                                {% if bid.product_to_bid_on %}
                                                    <td class="msg-tbl-body">{{ bid.product_to_bid_on.id }}</td>
                                                {% else %}
                                                    <td class="msg-tbl-body" style="color: red">#</td>
                                                {% endif %}
                                                <td class="msg-tbl-body">{{ bid.sku_number }}</td>
                                                {% if bid.product_to_bid_on %}
                                                    <td class="msg-tbl-body">{{ bid.product_to_bid_on.title }}</td>
                                                {% else %}
                                                    <td class="msg-tbl-body" style="color: red">Awaiting Ask</td>
                                                {% endif %}
                                                <td class="msg-tbl-body">{{ bid.shoe_size }}</td>
                                                <td class="msg-tbl-body">${{ bid.bid_amount }}</td>
                                                <td class="msg-tbl-body">${{ prices.highest }}</td>
                                                <td class="msg-tbl-body">${{ prices.lowest }}</td>
                                                <td class="msg-tbl-body">
                                                    <a href="#" class="pro_img">
                                                        <img src="{{ bid.product_to_bid_on.url }}" alt=""
                                                             class="img-fluid">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pending_buys" role="tabpanel" aria-labelledby="pending-tab">
                    <div class="option-table-wrap">
                        <div class="row">
                            <div class="col-12">
                                <div class="tbl-shadow clearfix rounded ">
                                    <table class="w-100  border-gray table-hover" id="pending_table">
                                        <thead>
                                        <tr class="option-tbl-head">
                                            <th class="msg-tbl-head"># <i class="fa fa-sort" aria-hidden="true"
                                                                          title="Sort"></i></th>
                                            <th class="msg-tbl-head">SKU <i class="fa fa-sort" aria-hidden="true"
                                                                            title="Sort"></i></th>
                                            <th class="msg-tbl-head">SNEAKER <i class="fa fa-sort" aria-hidden="true"
                                                                                title="Sort"></i></th>
                                            <th class="msg-tbl-head">SIZE <i class="fa fa-sort" aria-hidden="true"
                                                                             title="Sort"></i></th>
                                            <th class="msg-tbl-head">BID PRICE <i class="fa fa-sort" aria-hidden="true"
                                                                                  title="Sort"></i></th>
                                            <th class="msg-tbl-head">HIGHEST BID<i class="fa fa-sort" aria-hidden="true"
                                                                                   title="Sort"></i></th>
                                            <th class="msg-tbl-head">LOWEST BID<i class="fa fa-sort" aria-hidden="true"
                                                                                  title="Sort"></i></th>
                                            <th class="msg-tbl-head"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="option-tbl-body" id="option-tbl">
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">01</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">02</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">03</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">04</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">05</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">06</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="completed_buys" role="tabpanel" aria-labelledby="complted-tab">
                    <div class="option-table-wrap">
                        <div class="row">
                            <div class="col-12">
                                <div class="tbl-shadow clearfix rounded ">
                                    <table class="w-100  border-gray table-hover" id="complted_table">
                                        <thead>
                                        <tr class="option-tbl-head">
                                            <th class="msg-tbl-head"># <i class="fa fa-sort" aria-hidden="true"
                                                                          title="Sort"></i></th>
                                            <th class="msg-tbl-head">SKU <i class="fa fa-sort" aria-hidden="true"
                                                                            title="Sort"></i></th>
                                            <th class="msg-tbl-head">SNEAKER <i class="fa fa-sort" aria-hidden="true"
                                                                                title="Sort"></i></th>
                                            <th class="msg-tbl-head">SIZE <i class="fa fa-sort" aria-hidden="true"
                                                                             title="Sort"></i></th>
                                            <th class="msg-tbl-head">BID PRICE <i class="fa fa-sort" aria-hidden="true"
                                                                                  title="Sort"></i></th>
                                            <th class="msg-tbl-head">HIGHEST BID<i class="fa fa-sort" aria-hidden="true"
                                                                                   title="Sort"></i></th>
                                            <th class="msg-tbl-head">LOWEST BID<i class="fa fa-sort" aria-hidden="true"
                                                                                  title="Sort"></i></th>
                                            <th class="msg-tbl-head"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="option-tbl-body" id="option-tbl">
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">01</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">02</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">03</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">04</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">05</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="bodr-gray-top gray_c">
                                            <td class="msg-tbl-body">06</td>
                                            <td class="msg-tbl-body">CD8179-300</td>
                                            <td class="msg-tbl-body">Off-White x Wmns Air Zoom Terra Kiger 5(W)-Athlete
                                                in Progress(Electric Green)
                                            </td>
                                            <td class="msg-tbl-body">86</td>
                                            <td class="msg-tbl-body">$222.00</td>
                                            <td class="msg-tbl-body">$230.00</td>
                                            <td class="msg-tbl-body">$180.00</td>
                                            <td class="msg-tbl-body">
                                                <a href="#" class="pro_img">
                                                    <img src="{% static 'web_admin/images/selling.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer bg-white">
            <div class="footer_copyright text-center">
                <p class="gray_c">Payouttt | Buy & Sell Verified Sneakers<br> All rights reserved © Payouttt Marketplace
                    2020</p>
                <ul class="pl-0 mb-0 d-flex align-items-center justify-content-center social_icon">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="ml-3 mr-3"><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>

        $('#example').DataTable({
            "dom": 'rt<"bottom","i"flp><"clear">',
            "pageLength": 10,
            language: {
                lengthMenu: "Items per page _MENU_",
                info: " _START_ - _END_ of _TOTAL_",
                paginate: {
                    next: '<i class="fa fa-angle-right right_table" aria-hidden="true"></i>', // or '→'
                    previous: '<i class="fa fa-angle-left left_table" aria-hidden="true"></i>', // or '←'
                }
            }
        });

        $('#pending_table').DataTable({
            "dom": 'rt<"bottom","i"flp><"clear">',
            "pageLength": 10,
            language: {
                lengthMenu: "Items per page _MENU_",
                info: " _START_ - _END_ of _TOTAL_",
                paginate: {
                    next: '<i class="fa fa-angle-right right_table" aria-hidden="true"></i>', // or '→'
                    previous: '<i class="fa fa-angle-left left_table" aria-hidden="true"></i>', // or '←'
                }
            }
        });

        $('#complted_table').DataTable({
            "dom": 'rt<"bottom","i"flp><"clear">',
            "pageLength": 10,
            language: {
                lengthMenu: "Items per page _MENU_",
                info: " _START_ - _END_ of _TOTAL_",
                paginate: {
                    next: '<i class="fa fa-angle-right right_table" aria-hidden="true"></i>', // or '→'
                    previous: '<i class="fa fa-angle-left left_table" aria-hidden="true"></i>', // or '←'
                }
            }
        });


        $("table").wrap("<div class='table-responsive'></div>");
        $(".dataTables_length").wrap("<div class='filter_box'></div>");
        $('.filter_box').append('<div class="w-100  position-relative search_filter"><input type="text" name="name" placeholder="Search actve bids" class="search-box w-100" id="search-box"><i class="fa fa-search result-search position-absolute" aria-hidden="true"></i></div>');
        $('.filter_box').append('<div class="sorting"><span></span><span></span><span></span></div>');

        $("#search-box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#option-tbl tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $(document).ready(function () {
            $('table.dataTable').DataTable();
            $('table.dataTable').dataTable();
        });
    </script>
{% endblock %}

