{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'web_admin/css/contrib/jquery.smallipop-0.3.0.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'web_admin/css/contrib/animate.min.css' %}" type="text/css" media="all"/>
    <div class="page_title p-30">
        <h3 class="mb-0">Dashboard</h3>
    </div>
    <div class="content ">
        <div class="content_inner p-30">
            <div class="tab_list d-flex align-items-center">
                <nav>
                    <div class="nav nav-tabs nav-fill border-0" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link gray_c mr-3" id="buying-tab" data-toggle="tab" href="#buying"
                           role="tab" aria-selected="false">Buying</a>
                        <a class="nav-item nav-link gray_c active" id="selling-tab" data-toggle="tab" href="#selling"
                           role="tab" aria-selected="true">Selling</a>
                    </div>
                </nav>
                <div class="filter-box one-folder-block ml-auto">
                    <div class="last_month" id="departure">
                        <select id="month">
                            <option value="hide">Last Month</option>
                            <option value="january" rel="icon-temperature">January</option>
                            <option value="february">February</option>
                            <option value="march">March</option>
                            <option value="april">April</option>
                            <option value="may">May</option>
                            <option value="june">June</option>
                            <option value="july">July</option>
                            <option value="august">August</option>
                            <option value="september">September</option>
                            <option value="october">October</option>
                            <option value="november">November</option>
                            <option value="december">December</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane " id="buying" role="tabpanel" aria-labelledby="buying-tab">
                    <div class="row chart_sec">
                        <div class="w-40 col-lg-5 col-md-6">
                            <div class="chart_inner bg-white chart_bar">
                                <h2 class="mb-3">Sales over month</h2>
                                <div class="chart_canvas">
                                    <canvas id="myChart" width="200" height="190"></canvas>
                                </div>
                                <div class="total_month">
                                    <span>Total over month: <span class="green_c">$256</span></span>
                                </div>
                            </div>
                        </div>

                        <div class="w-20 col-lg-2 pl-0 col-md-6">
                            <div class="chart_inner bg-white chart_pie">
                                <h2 class="mb-3">Overall balance</h2>
                                <div class="chart_canvas pr-4 pl-4">
                                    <canvas id="myChart2" width="150" height="150" class="donat-chart"></canvas>
                                </div>
                                <div class="total_month text-left">
                                    <span>Income Growth</span>
                                </div>
                            </div>
                        </div>
                        <div class="w-40 d-md-none news-sec col-lg-5 pl-0">
                            <div class="chart_inner bg-white chart_bar">
                                <h2 class="mb-3">Latest News</h2>
                                <div class="news-slider owl-carousel owl-theme">
                                    <div class="news-information">
                                        <div class="new-img">
                                            <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                        </div>
                                        <div class="news-info">
                                            <span class="news-date">22 Feb</span>
                                            <h3><a href="javascript:void(0);">Ever undertakes laborious physical</a>
                                            </h3>
                                            <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                            <a href="javascript:void(0);">Read More <i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="news-information">
                                        <div class="new-img">
                                            <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                        </div>
                                        <div class="news-info">
                                            <span class="news-date">22 Feb</span>
                                            <h3><a href="javascript:void(0);">Ever undertakes laborious physical</a>
                                            </h3>
                                            <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                            <a href="javascript:void(0);">Read More <i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-40 d-md-block latest-sec col-lg-12 pl-0">
                        <div class="chart_inner bg-white chart_bar">
                            <h2 class="mb-3">Latest News</h2>
                            <div class="news-slider owl-carousel owl-theme">
                                <div class="news-information">
                                    <div class="new-img">
                                        <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                    </div>
                                    <div class="news-info">
                                        <span class="news-date">22 Feb</span>
                                        <h3><a href="javascript:void(0);">Ever undertakes laborious physical</a></h3>
                                        <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                        <a href="javascript:void(0);">Read More <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="news-information">
                                    <div class="new-img">
                                        <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                    </div>
                                    <div class="news-info">
                                        <span class="news-date">22 Feb</span>
                                        <h3>Ever undertakes laborious physical</h3>
                                        <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                        <a href="javascript:void(0);">Read More <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pro_sec row">
                        <div class="col-lg-5 d-flex">
                            <div class="bg-white pro_detail_sec padd w-100">
                                <h2>Bestseller</h2>
                                <div class="best_seller d-flex align-items-center">
                                    <a href="#" class="w-50 d-block">
                                        <img src="{% static 'web_admin/images/profile_sneakers.png' %}" alt="" class="img-fluid">
                                    </a>
                                    <div class="pro_detail pro_font w-50">
                                        <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok Hayasu</h3>
                                        </a>
                                        <div class="rating d-flex green_c">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                            aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                             aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="pro_price">
                                            <span class="gray_c">125<span> pairs sold </span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn_pro">
                                    <button class="btn">Get The Report<b><img src="{% static 'web_admin/images/download.png' %}"
                                                                              class="img-fluid" alt=""></b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 pl-0 d-flex">
                            <div class="bg-white padd w-100">
                                <h2>Most popular sneakers</h2>
                                <div class="row">
                                    <div class="owl-carousel">
                                        <div class="col-lg-12">
                                            <div class="popular_pro pro_font ">
                                                <a href="#">
                                                    <img src="{% static 'web_admin/images/profile_sneakers.png' %}" alt="" class="img-fluid">
                                                </a>
                                                <div class="pro_detail">
                                                    <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok
                                                        Hayasu</h3></a>
                                                    <div class="rating d-flex green_c">
                                                        <i class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="pro_price">
                                                        <span>125<span> pairs sold </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="popular_pro pro_font ">
                                                <a href="#">
                                                    <img src="{% static 'web_admin/images/profile_sneakers.png' %}" alt="" class="img-fluid">
                                                </a>
                                                <div class="pro_detail">
                                                    <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok
                                                        Hayasu</h3></a>
                                                    <div class="rating d-flex green_c">
                                                        <i class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="pro_price">
                                                        <span>125<span> pairs sold </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="popular_pro pro_font ">
                                                <a href="#">
                                                    <img src="{% static 'web_admin/images/top_selling_product_2.png.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                                <div class="pro_detail">
                                                    <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok
                                                        Hayasu</h3></a>
                                                    <div class="rating d-flex green_c">
                                                        <i class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="pro_price">
                                                        <span>125<span> pairs sold </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="latest_sec row pt-20">
                        <div class="col-lg-7 ">
                            <div class="bg-white padd">
                                <h2>Latest releasing sneakers</h2>
                                <ul class="mb-0 pl-0 latest_snekers_list">
                                    <li class="pro_font d-flex align-items-center">
                                        <a href="#">
                                            <img src="{% static 'web_admin/images/latestpro.png' %}" alt="" class="img-fluid mr-3">
                                        </a>
                                        <div class="latest_detail">
                                            <a href="#" class="pro_title"><h3 class="gray_c">Jordan 6 Retro DMP
                                                (2020)</h3></a>
                                            <a href="#"><span class="light_gray">April 2018</span></a>
                                        </div>
                                        <a href="#" class="ml-auto"><span
                                                class="latest_pro_price  f_18 green_c">$250.00</span></a>
                                    </li>
                                    <li class="pro_font d-flex align-items-center">
                                        <a href="#">
                                            <img src="{% static 'web_admin/images/latestpro.png' %}" alt="" class="img-fluid mr-3">
                                        </a>
                                        <div class="latest_detail">
                                            <a href="#" class="pro_title"><h3 class="gray_c">Jordan 6 Retro DMP
                                                (2020)</h3></a>
                                            <a href="#"><span class="light_gray">April 2018</span></a>
                                        </div>
                                        <a href="#" class="ml-auto"><span
                                                class="latest_pro_price  f_18 green_c">$250.00</span></a>
                                    </li>
                                    <li class="pro_font d-flex align-items-center">
                                        <a href="#">
                                            <img src="{% static 'web_admin/images/latestpro.png' %} alt="" class="img-fluid mr-3">
                                        </a>
                                        <div class="latest_detail">
                                            <a href="#" class="pro_title"><h3 class="gray_c">Jordan 6 Retro DMP
                                                (2020)</h3></a>
                                            <a href="#"><span class="light_gray">April 2018</span></a>
                                        </div>
                                        <a href="#" class="ml-auto"><span
                                                class="latest_pro_price  f_18 green_c">$250.00</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 pl-0">
                            <div class="bg-white pro_detail_sec padd">
                                <h2>Market Popularity</h2>
                                <div class="best_seller d-flex align-items-center">
                                    <div id="smallimap1" style="width: 100%; height:100%" class="smallipop"
                                         data-smallipop-tour-index="1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="selling" role="tabpanel" aria-labelledby="selling-tab">
                    <div class="row chart_sec">
                        <div class="w-40 col-lg-5">
                            <div class="chart_inner bg-white chart_bar">
                                <h2 class="mb-3">Sales over month</h2>
                                <div class="chart_canvas">
                                    <canvas id="myChart3" width="200" height="190"></canvas>
                                </div>
                                <div class="total_month">
                                    <span>Total over month: <span class="green_c">$256</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="w-20 col-lg-2 pl-0">
                            <div class="chart_inner bg-white chart_pie">
                                <h2 class="mb-3">Overall balance</h2>
                                <div class="chart_canvas pr-4 pl-4">
                                    <canvas id="myChart5" width="150" height="150" class="donat-chart"></canvas>
                                </div>
                                <div class="total_month text-left">
                                    <span>Income Growth</span>
                                </div>
                            </div>
                        </div>
                        <div class="w-40 d-md-none news-sec col-lg-5 pl-0">
                            <div class="chart_inner bg-white chart_bar">
                                <h2 class="mb-3">Latest News</h2>
                                <div class="news-slider owl-carousel owl-theme">
                                    <div class="news-information">
                                        <div class="new-img">
                                            <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                        </div>
                                        <div class="news-info">
                                            <span class="news-date">22 Feb</span>
                                            <h3><a href="javascript:void(0);">Ever undertakes laborious physical</a>
                                            </h3>
                                            <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                            <a href="javascript:void(0);">Read More <i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="news-information">
                                        <div class="new-img">
                                            <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                        </div>
                                        <div class="news-info">
                                            <span class="news-date">22 Feb</span>
                                            <h3><a href="javascript:void(0);">Ever undertakes laborious physical</a>
                                            </h3>
                                            <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                            <a href="javascript:void(0);">Read More <i
                                                    class="fa fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-40 d-md-block latest-sec col-lg-12 pl-0">
                        <div class="chart_inner bg-white chart_bar">
                            <h2 class="mb-3">Latest News</h2>
                            <div class="news-slider owl-carousel owl-theme">
                                <div class="news-information">
                                    <div class="new-img">
                                        <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                    </div>
                                    <div class="news-info">
                                        <span class="news-date">22 Feb</span>
                                        <h3><a href="javascript:void(0);">Ever undertakes laborious physical</a></h3>
                                        <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                        <a href="javascript:void(0);">Read More <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="news-information">
                                    <div class="new-img">
                                        <img src="{% static 'web_admin/images/blog-img-1.png' %}" alt=""/>
                                    </div>
                                    <div class="news-info">
                                        <span class="news-date">22 Feb</span>
                                        <h3><a href="javascript:void(0);">Ever undertakes laborious physical</a></h3>
                                        <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore.</p>
                                        <a href="javascript:void(0);">Read More <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pro_sec row">
                        <div class="col-lg-5 d-flex">
                            <div class="bg-white pro_detail_sec padd w-100">
                                <h2>Bestseller</h2>
                                <div class="best_seller d-flex align-items-center">
                                    <a href="#" class="w-50 d-block">
                                        <img src="{% static 'web_admin/images/profile_sneakers.png' %}" alt="" class="img-fluid">
                                    </a>
                                    <div class="pro_detail pro_font w-50">
                                        <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok Hayasu</h3>
                                        </a>
                                        <div class="rating d-flex green_c">
                                            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                            aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                             aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="pro_price">
                                            <span class="gray_c">125<span> pairs sold </span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn_pro">
                                    <button class="btn">Get The Report<b><img src="{% static 'web_admin/images/download.png' %}"
                                                                              class="img-fluid" alt=""></b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 pl-0 d-flex">
                            <div class="bg-white padd w-100">
                                <h2>Most popular sneakers</h2>
                                <div class="row">
                                    <div class="owl-carousel">
                                        <div class="col-lg-12">
                                            <div class="popular_pro pro_font ">
                                                <a href="#">
                                                    <img src="{% static 'web_admin/images/profile_sneakers.png' %}" alt="" class="img-fluid">
                                                </a>
                                                <div class="pro_detail">
                                                    <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok
                                                        Hayasu</h3></a>
                                                    <div class="rating d-flex green_c">
                                                        <i class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="pro_price">
                                                        <span>125<span> pairs sold </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="popular_pro pro_font ">
                                                <a href="#">
                                                    <img src="{% static 'web_admin/images/profile_sneakers1.png' %}" alt="" class="img-fluid">
                                                </a>
                                                <div class="pro_detail">
                                                    <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok
                                                        Hayasu</h3></a>
                                                    <div class="rating d-flex green_c">
                                                        <i class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="pro_price">
                                                        <span>125<span> pairs sold </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="popular_pro pro_font ">
                                                <a href="#">
                                                    <img src="{% static 'web_admin/images/top_selling_product_2.png' %}" alt=""
                                                         class="img-fluid">
                                                </a>
                                                <div class="pro_detail">
                                                    <a href="#" class="d-inline-block"><h3 class="gray_c mb-0">Reebok
                                                        Hayasu</h3></a>
                                                    <div class="rating d-flex green_c">
                                                        <i class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i><i
                                                            class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="pro_price">
                                                        <span>125<span> pairs sold </span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="latest_sec row pt-20">
                        <div class="col-lg-7 ">
                            <div class="bg-white padd">
                                <h2>Latest releasing sneakers</h2>
                                <ul class="mb-0 pl-0 latest_snekers_list">
                                    <li class="pro_font d-flex align-items-center">
                                        <a href="#">
                                            <img src="{% static 'web_admin/images/latestpro.png' %}" alt="" class="img-fluid mr-3">
                                        </a>
                                        <div class="latest_detail">
                                            <a href="#" class="pro_title"><h3 class="gray_c">Jordan 6 Retro DMP
                                                (2020)</h3></a>
                                            <a href="#"><span class="light_gray">April 2018</span></a>
                                        </div>
                                        <a href="#" class="ml-auto"><span
                                                class="latest_pro_price  f_18 green_c">$250.00</span></a>
                                    </li>
                                    <li class="pro_font d-flex align-items-center">
                                        <a href="#">
                                            <img src="{% static 'web_admin/images/latestpro.png' %}" alt="" class="img-fluid mr-3">
                                        </a>
                                        <div class="latest_detail">
                                            <a href="#" class="pro_title"><h3 class="gray_c">Jordan 6 Retro DMP
                                                (2020)</h3></a>
                                            <a href="#"><span class="light_gray">April 2018</span></a>
                                        </div>
                                        <a href="#" class="ml-auto"><span
                                                class="latest_pro_price  f_18 green_c">$250.00</span></a>
                                    </li>
                                    <li class="pro_font d-flex align-items-center">
                                        <a href="#">
                                            <img src="{% static 'web_admin/images/latestpro.png' %}" alt="" class="img-fluid mr-3">
                                        </a>
                                        <div class="latest_detail">
                                            <a href="#" class="pro_title"><h3 class="gray_c">Jordan 6 Retro DMP
                                                (2020)</h3></a>
                                            <a href="#"><span class="light_gray">April 2018</span></a>
                                        </div>
                                        <a href="#" class="ml-auto"><span
                                                class="latest_pro_price  f_18 green_c">$250.00</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 pl-0 d-flex">
                            <div class="bg-white pro_detail_sec padd overflow-hidden d-flex flex-column "
                                 style="width: 100%; height:100%">
                                <h2>Market Popularity</h2>
                                <div class="best_seller d-flex align-items-center" style="width: 100%; height:100%">
                                    <div id="smallimap" style="width: 100%; height:100%" class="smallipop"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer bg-white">
            <div class="footer_copyright text-center">
                <p class="gray_c">Payouttt | Buy & Sell Verified Sneakers<br> All rights reserved © Payouttt Marketplace
                    2020</p>
                <ul class="pl-0 mb-0 d-flex align-items-center justify-content-center social_icon">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="ml-3 mr-3"><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script src="{% static 'web_admin/js/contrib/jquery.smallipop-0.3.0.min.js' %}"></script>
    <script src="{% static 'web_admin/js/contrib/suntimes.js' %}"></script>
    <script src="{% static 'web_admin/js/contrib/renderframe.js' %}"></script>
    <script src="{% static 'web_admin/js/contrib/color-0.4.1.js' %}"></script>
    <script src="{% static 'web_admin/js/world.js' %}"></script>
    <script src="{% static 'web_admin/js/smallimap.js' %}"></script>
    <!-- <script src="js/demo.js" type="text/javascript"></script><script type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
    <!-- chart -->
    <script src="{% static 'web_admin/js/homecustom.js' %}"></script>
{% endblock %}

