{% load static %}
{% if password_changed %}
    <div class="row">
        <div class="col-12 text-center">
            <p>Password Successfully Updated.</p>
        </div>
    </div>

{% endif %}
<form method="post" class="pass_form" id="PasswordChnageForm" action="{% url 'password-reset' %}">
    {% csrf_token %}
    <div class="name-active ">
        {% for field in form %}
            <div class="field_row_pop gray_c position-relative w-100 d-inline-block mb-3">
                {{ field }}
                {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}

            </div>
        {% endfor %}
        <div class="field_row_pop field_btn">
            <input type="button" name="save" value="Save" id="CallPasswordChangeButton">
        </div>
    </div>
</form>
<script src="{% static 'web_admin/js/jquery-3.4.1.min.js' %}"></script>
<script>
    $("#CallPasswordChangeButton").on('click', function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        debugger
        var form = $('#PasswordChnageForm');
        $.ajax({
            type: 'Post',
            url: "{% url 'password-reset' %}",
            data: form.serialize(),
            success: function (data) {
                $('#password_change').empty().html(data);
            }
        });
    });
</script>