{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
    <div class="page_title p-30">
        <h3 class="mb-0">Security</h3>
    </div>
    <div class="content ">
        <div class="content_inner p-30">
            <h3 class="set_up_title text-center">Set-Up Two-Factor Authentication</h3>
            <form id="msform">
                <!-- progressbar -->
                <div class="position-relative responsive-steap step_list">
                    <ul id="progressbar" class="d-flex justify-content-center">
                        <li class="active">Get An App</li>
                        <li>Scan The Code</li>
                        <li>Enter Your Verification Code</li>
                    </ul>
                </div>
                <!-- fieldsets -->
                <!-- row-1 -->
                <fieldset class="row-one-one text-center">
                    <div class="get_app_content">
                        <h4>Get An App</h4>
                        <p class="mb-0">Download one of the following apps from the app store on your phone</p>
                        <div class="row get_app_sec">
                            <div class="col-md-4">
                                <div class="get_app">
                                    <img src="images/app.png" class="img-fluid" alt="">
                                    <h4 class="mb-0">Google Authenticator</h4>
                                    <div class="app_list d-flex justify-content-center">
                                        <a href="#"><img src="images/apple.png" class="img-fluid" alt=""></a>
                                        <a href="#"><img src="images/android.png" class="img-fluid" alt=""></a>
                                        <a href="#"><img src="images/google_aythenti.png" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="get_app">
                                    <img src="images/app2.png" class="img-fluid" alt="">
                                    <h4 class="mb-0">Duo Mobile</h4>
                                    <div class="app_list d-flex justify-content-center">
                                        <a href="#"><img src="images/apple.png" class="img-fluid" alt=""></a>
                                        <a href="#"><img src="images/android.png" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="get_app">
                                    <img src="images/app3.png" class="img-fluid" alt="">
                                    <h4 class="mb-0">Authy</h4>
                                    <div class="app_list d-flex justify-content-center">
                                        <a href="#"><img src="images/apple.png" class="img-fluid" alt=""></a>
                                        <a href="#"><img src="images/android.png" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="cancel-btn" type="button" data-toggle="modal" data-target="#cancel-btn"
                            data-dismiss="variant_edit-sec">Cancel
                    </button>
                    <input type="button" name="next" class="next action-button step-btn-one bton-gray" value="Next"/>
                </fieldset>
                <!-- row-2 -->
                <fieldset class="step-two text-center">
                    <div class="get_app_content">
                        <h4>Scan The Code</h4>
                        <p class="mb-0">In your app, add the new account and scan the QR code</p>
                        <img src="images/qr_code.png" alt="" class="img-fluid light_qr">
                        <img src="images/qr_code_dark.png" alt="" class="img-fluid dark_qr">
                        <p>If you can’t scan the QR code, enter <span class="green_c">ascdas879xdws</span></p>
                    </div>
                    <input type="button" name="previous" class="previous action-button w-auto " value="Cancel"/>
                    <input type="button" name="next" class="next action-button w-auto" value="Next"/>
                </fieldset>
                <!-- row-3-->
                <fieldset class="step-two fourth-row text-center">
                    <div class="verification_code get_app_content">
                        <h4>Enter Your Verification Code</h4>
                        <p class="mb-0">Pre-fill text area with “6-digit code”</p>
                        <div class="verify_details"><input type="text" name="code" class="verify_code w-100"
                                                           placeholder="Enter code"></div>
                    </div>
                    <button type="button" class="bton variant_update_btn segment_btn_right">Turn on 2-step verification
                        <span class="loader5"></span></button>
                </fieldset>
            </form>
        </div>
        <!-- Footer -->
        <div class="footer bg-white">
            <div class="footer_copyright text-center">
                <p class="gray_c">Payouttt | Buy & Sell Verified Sneakers<br> All rights reserved © Payouttt Marketplace
                    2020</p>
                <ul class="pl-0 mb-0 d-flex align-items-center justify-content-center social_icon">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="ml-3 mr-3"><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        var current_fs, next_fs, previous_fs;
        var left, opacity, scale;
        var animating;

        $(".next").click(function () {
            if (animating) return false;
            animating = true;
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active")
            next_fs.show();
            current_fs.animate({opacity: 0}, {
                step: function (now, mx) {
                    scale = 1 - (1 - now) * 0.2;
                    left = (now * 50) + "%";
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')'
                    });
                    next_fs.css({'left': left, 'opacity': opacity});
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                easing: 'easeInOutBack'
            });
        });

        $(".previous").click(function () {
            if (animating) return false;
            animating = true;
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            previous_fs.show();
            current_fs.animate({opacity: 0}, {
                step: function (now, mx) {
                    scale = 0.8 + (1 - now) * 0.2;
                    left = ((1 - now) * 50) + "%";
                    opacity = 1 - now;
                    current_fs.css({'left': left});
                    previous_fs.css({'transform': 'scale(' + scale + ')', 'opacity': opacity});
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                easing: 'easeInOutBack'
            });
        });
        $(".submit").click(function () {
            return false;
        })
    </script>
{% endblock %}