{% extends 'base.html' %}
{% load static %}
{% block body_class %}bg-white app-page{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <!-- Download The Payouttt App -->
        <section id="download_payouttt_sec" class="position-relative download_payouttt-app">
            <div class="download_payouttt_container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="download_moile_screen position-absolute">
                                <img src="{% static 'web/images/app-mobile-img.png' %}" alt="" class="light-img img-fluid"/>
                                <img src="{% static 'web/images/dark-mobile.png' %}" alt="" class="dark-img img-fluid"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="download-payoutt">
                                <h3 class="text-left oswald_font bold_600 font_44 text-uppercase" style="color:#000000">Download
                                    the Payouttt App</h3>
                                <div class="rating_list mt-sm-4 py-lg-2">
                                    <span class="pl-0"><i class="fa fa-star font_20" style="color:#FFDF00" aria-hidden="true"></i></span>
                                    <span class="pl-1"><i class="fa fa-star font_20" style="color:#FFDF00" aria-hidden="true"></i></span>
                                    <span class="pl-1"><i class="fa fa-star font_20" style="color:#FFDF00" aria-hidden="true"></i></span>
                                    <span class="pl-1"><i class="fa fa-star font_20" style="color:#FFDF00" aria-hidden="true"></i></span>
                                    <span class="pl-1"><i class="fa fa-star font_20" style="color:#FFDF00" aria-hidden="true"></i></span>
                                    <span class="pl-2 open_sans bold_600 font_18" style="color:#000000">4.9</span>
                                </div>
                                <div class="app_list mt-md-4 mt-xl-4 pt-xl-2">
                                    <ul class="pl-0 mb-0">
                                        <li class="open_sans bold_600 font_18 position-relative pl-2 pl-sm-4 mb-1 mb-xl-2 mb-lg-0">
                                            Buy, Sell and Trade authentic sneakers from
                                            your pocket.
                                        </li>
                                    </ul>
                                </div>
                                <div class="app_link_downloads d-flex align-items-center mt-md-5 mt-2">
                                    <a href="javascript:void(0);" target="_blank">
                                        <img src="{% static 'web/images/google_play.png' %}" alt="" class="img-fluid"/>
                                    </a>
                                    <a href="javascript:void(0);" class="ml-2 ml-lg-5 ml-md-4" target="_blank">
                                        <img src="{% static 'web/images/app_store.png' %}" alt="" class="img-fluid"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}


