<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Browse thousands of sneakers. Buy, Sell & Trade Sneakers Fast! 24/7 Customer support! Fast and safe delivery!">
    <meta name="keywords" content="Payouttt, PayoutttApp, Sneaker Marketplace, Buy, Sell, Trade, Shoes, Sneakers">
    <meta name="author" content="Payouttt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Payouttt {% block title %}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'web/images/logo.png' %}">
    <!-- flaticon -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/fonts/flaticon/flaticon.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/owl.carousel.min.css' %}"/>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600&display=swap" rel="stylesheet">
    <!-- font-awesome.min.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/font-awesome.min.css' %}"/>
    <!-- form -->

    <link rel='stylesheet' href='{% static 'web/css/form.css' %}'>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/nice.select.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.min.css' %}"/>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}"/>
</head>
<body class="{% block body_class %}bg-white home_container Signing{% endblock %}">

<!-- preloader -->
<div id="preloader">
    <div id="status"><img src="{% static 'web/images/loader-img.gif' %}" alt=""></div>
</div>
<!-- header -->
{% include 'web_header.html' %}

<div class="overlay"></div>
{% block content %}

{% endblock %}


<footer class="mt-lg-0 pt-lg-0 mt-md-0 pt-md-0 mt-sm-0 mt-0 position-fixed w-100">
    <div class="bg-dark pt-sm-5 pt-5 pb-sm-0">
        <div class="container pt-lg-3">
            <div class="row">
                <div class="col-md-2 offset-lg-1">
                    <div class="footer_menu_list">
                        <h4 class="text-uppercase text-white text-left oswald_font font_20 bold_500">Information</h4>
                        <ul class="pl-0 mb-0 mt-2 mt-sm-4 pt-2">
                            <li class="mb-2 mb-sm-3"><a href="buy-now.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">Buy</a>
                            <li class="mb-2 mb-sm-3"><a href="sell-now.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">Sell</a>
                            <li class="mb-2 mb-sm-3"><a href="about-us.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">About
                                Us</a>
                            <li class="mb-2 mb-sm-3"><a href="contact.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">Contact
                                Us</a>
                            <li class="mb-0 mb-sm-0"><a href="javascript:void(0);"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_menu_list">
                        <h4 class="text-uppercase text-white text-left oswald_font font_20 bold_500">Support</h4>
                        <ul class="pl-0 mb-0 mt-2 mt-sm-4 pt-2">
                            <li class="mb-2 mb-sm-3"><a href="privacy-policy.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">Privacy</a>
                            <li class="mb-2 mb-sm-3"><a href="privacy-policy.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">Policy</a>
                            <li class="mb-2 mb-sm-3"><a href="faq.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">FAQ</a>
                            <li class="mb-2 mb-sm-3"><a href="app.html"
                                                        class="text-white text-capitalize text-left open_sans bold_400 font_16">App</a>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="latest_news">
                        <h4 class="oswald_font font_25 bold_500 text-white text-uppercase">Get Latest news and Updates
                            Now</h4>
                        <p class="open_sans bold_600 font_16 mt-2">Subscribe Our Newslater, Get Exclusive
                            Offers.</p>
                        <form method="POST" class="mt-5">
                            <div class="d-flex align-items-end">
                                <label class="mb-0">
                                    <input type="email" name="email" placeholder="Enter your email here"
                                           class="d-inline-block w-auto border-left-0 border-right-0 border-top-0 border-bottom bg-transparent text-white font_18 open_sans bold_400"/>
                                </label>
                                <button type="submit"
                                        class="text-dark text-center d-inline-block bg-white border subscribe_btn open_sans bold_700 font_16 text-uppercase subscribe-btn">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="socile-icon-footer">
                        <ul>
                            <li><a href="https://www.facebook.com/Payoutttapp" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/Payoutttapp" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCLUeQmzLfMOexu4bcSRVw5w" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/Payoutttapp/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_text text-center border-top d-flex justify-content-between mt-5">
            <div class="container">
                <div class="row d-md-block d-lg-flex">
                    <div class="col-md-12 offset-md-0 d-md-flex align-items-center justify-content-md-between">
                        <div class="copyright_small_text">
                            <p class="open_sans bold_400 font_15 text-white">Copyright © 2020 <a href="index.html"
                                                                                                 class="d-inline-block text-white">Payouttt</a>.
                                All Rights Reserved</p>
                        </div>
                        <div class="payment_accept">
                            <div class="payment_accept_list">
                                <ul class="pl-0 mb-0 d-flex align-items-center justify-content-end payment-acceptable-sec">
                                    <li class="open_sans bold_400 font_15 text-white pr-3">Payment Acceptable On :</li>
                                    <li class="pr-2"><a href="javascript:void(0);" target="_blank"><img
                                            src="{% static 'web/images/visa.png' %}" alt="" class="img-fluid"/></a></li>
                                    <li class="pr-2"><a href="javascript:void(0);" target="_blank"><img
                                            src="{% static 'web/images/master_card.png' %}" alt=""
                                            class="img-fluid"/></a></li>
                                    <li class="pr-2"><a href="javascript:void(0);" target="_blank"><img
                                            src="{% static 'web/images/american_express.png' %}" alt=""
                                            class="img-fluid"/></a></li>
                                    <li class="pr-2"><a href="javascript:void(0);" target="_blank"><img
                                            src="{% static 'web/images/discover.png' %}" alt="" class="img-fluid"/></a>
                                    </li>
                                    <li class="pr-2"><a href="javascript:void(0);" target="_blank"><img
                                            src="{% static 'web/images/paypal.png' %}" alt="" class="img-fluid"/></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- dark mode -->
<div class="switch">
    <input id="themeSwitch" class="switch__input" type="checkbox">
    <label class="switch__label" for="themeSwitch" aria-hidden="true">On</label>
    <div class="switch__marker" aria-hidden="true"></div>
</div>
<!-- top to bottom arrow -->
<a href="#" id="scroll"><span></span></a>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="{% static 'web/js/jquery-3.5.1.min.js' %}"></script>
<!-- form -->
<script src='{% static 'web/js/form.js' %}'></script>
<script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>
<!-- custom.js -->
<script src="{% static 'web/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'web/js/jquery.nice-select.min.js' %}"></script>
<!-- parallax_scrolling -->
<script src="{% static 'web/js/parallax_scrolling.min.js' %}"></script>
<script src="{% static 'web/js/custom.js' %}"></script>
<script>
    // Show/hide password onClick of button using Javascript only

    // https://stackoverflow.com/questions/31224651/show-hide-password-onclick-of-button-using-javascript-only

    function show() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("eye").addEventListener("click", function () {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);

    $(document).ready(function () {
        $(".forgot_click").click(function () {
            $(".for_remove").remove();
        });
        $(".vefiry_click").click(function () {
            $(".for_remove").remove();
        });
        if ($(window).width() > 991) {
            //footer fixed js
            $(document).ready(function () {
                var footer_padd = $("footer").height() + "px";
                $("main").css("margin-bottom", footer_padd);
            })
        }
    });

    //parallax-scroll
    $(document).ready(function () {
        function show() {
            var pw = document.getElementById('sipwd');
            pw.setAttribute('type', 'text');
        }

        function hide() {
            var pw = document.getElementById('sipwd');
            pw.setAttribute('type', 'password');
        }

        var pwhown = 0;

        document.getElementById("sieye").addEventListener("click", function () {
            if (pwhown == 0) {
                pwhown = 1;
                show();
            } else {
                pwhown = 0;
                hide();
            }
        }, false);
    });
</script>
{% block  js_block %}

{% endblock %}
</body>
</html>
