{% extends 'base.html' %}
{% load static %}
{% block title %}-Bid{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <section class="signup-step-container padd-top-bot">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           aria-expanded="true"><span class="round-tab">1 </span> <i>Confirm
                                            Size</i></a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           aria-expanded="false"><span class="round-tab">2</span> <i>Place Bid</i></a>
                                    </li>
                                </ul>
                            </div>

                            <form action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <div class="col-12">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 product-left">
                                                    <div class="buy-new-product-left">
                                                        <img src="{{ product.url }}"
                                                             class="img-fluid"
                                                             alt=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 product-right">
                                                    <div class="buy-now-top-sec">
                                                        <div class="inner-buy-now inner-buy-now1">
                                                            <p>Buy or Bid</p>
                                                            <span><b>$215 </b> lowest ask</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now2">
                                                            <p>Sell or Ask</p>
                                                            <span><b>$305 </b> highest BId</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now3">
                                                            <p>Last Sale</p>
                                                            <div class="last-sale-price">
                                                                <h3>$273.00</h3>
                                                                <a href="#"><i class="fa fa-arrow-down"
                                                                               aria-hidden="true"></i> -$1 (0%)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h2 class="sec-heading">{{ product.title }}</h2>
                                                    <div class="select_filed size-selected">
                                                        <select name="Selectbox"
                                                                class="wpcf7-form-control wpcf7-select Wide"
                                                                aria-invalid="false">
                                                            <option value="AQI India">Size</option>
                                                            {% for size in product.shoe_sizes.all %}
                                                                <option value="{{ size.shoe_size }}">{{ size.shoe_size }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="border-line"></div>
                                                    <div class="row release-date">
                                                        <div class="col-md-8 col-md-7">
                                                            <p>Release Date: <b>{{ product.release_date }}</b></p>
                                                            <p>Colorway: <b>{{ product.colorway }}</b></p>
                                                        </div>
                                                        <div class="col-md-4 col-md-4">
                                                            <p>SKU: <b>{{ product.sku_number }}</b></p>
                                                            <p>Retail Price:<b>${{ product.retail_price }}</b></p>
                                                        </div>
                                                    </div>
                                                    <ul class="list-inline confirm-btn">
                                                        <li>
                                                            <button type="button"
                                                                    class="default-btn next-step text-uppercase open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                confirm
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h2 class="sec-heading">{{ product.title }}</h2>
                                        <div class="row padd-top-30">
                                            <div class="col-md-6">
                                                <div class="total-price-sec">
                                                    <h3>Total Price</h3>
                                                    <div class="border-line"></div>
                                                    <div class="shiping-sec-top">
                                                        <p>Ask</p>
                                                        <span>$100</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p>Shipping </p>
                                                        <span>Shipping</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p><b>Total</b></p>
                                                        <span><b>$105</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="total-price-sec total-price-sec2">
                                                    <h3>Place Bid</h3>
                                                    <div class="buy-now-field">
                                                        <input type="text" name="Lowest Bid" placeholder="Lowest Bid">
                                                        <span>$</span>
                                                    </div>
                                                    <div class="top_selling_product_box payouttt_offers_content">
                                                        <a data-toggle="modal" data-target="#exampleModal"
                                                           href="javascript:void(0);"
                                                           class="text-uppercase open_sans bold_700 text-white shop_btn d-inline-block font_26">Confirm
                                                            Bid</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Confirm Bid Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="success-checkmark">
                        <div class="check-icon">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h2>Bid Completed</h2>
                    <p>Thank you for ordering. We received your order and will begin processing it soon. Your order
                        information appears below</p>
                </div>
            </div>
        </div>
    </div>
    <!-- size chart modal -->
    <div class="modal fade" id="size_chart_modal" tabindex="-1" role="dialog" aria-labelledby="size_chart_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body position-relative">
                    <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-cancel" aria-hidden="true"></i>
                    </button>
                    <div class="sell-detail m-r-20 m-l-20">
                        <h2 class="text-uppercase text-dark oswald_font font_30 bold_600 text-center">Size Chart</h2>
                        <div class="highest-size mt-3">
                            <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2">
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us1">
                                    <label for="us1">US4<span>$217</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us2">
                                    <label for="us2">US4.5<span>$220</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us3">
                                    <label for="us3">US5<span class="bid">Bid</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us4">
                                    <label for="us4">US5.5<span>$226</span></label>
                                </div>
                            </div>
                            <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2 mt-2">
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us5">
                                    <label for="us5">US6<span>$238</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us6">
                                    <label for="us6">US6.5<span>$240</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us7">
                                    <label for="us7">US7<span>$246</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us8">
                                    <label for="us8">US7.5<span>$250</span></label>
                                </div>
                            </div>
                            <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2 mt-2">
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us9">
                                    <label for="us9">US8<span>$232</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us10">
                                    <label for="us10">US8.5<span>$230</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us11">
                                    <label for="us11">US9<span>$242</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us12">
                                    <label for="us12">US9.5<span>$200</span></label>
                                </div>
                            </div>
                            <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2 mt-2">
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us13">
                                    <label for="us13">US10<span class="bid">Bid</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us14">
                                    <label for="us14">US10.5<span>$241</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us15">
                                    <label for="us15">US11<span>$217</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us16">
                                    <label for="us16">US11.5<span>$217</span></label>
                                </div>
                            </div>
                            <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2 mt-2">
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us17">
                                    <label for="us17">US12<span>$217</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us18">
                                    <label for="us18">US12.5<span>$236</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us19">
                                    <label for="us19">US13<span>$241</span></label>
                                </div>
                                <div class="highest-size-box mx-1">
                                    <input type="checkbox" id="us20">
                                    <label for="us20">US13.5<span>$217</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_block %}
    <script>
        // ------------step-wizard-------------
        $(document).ready(function () {
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var target = $(e.target);

                if (target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                active.next().removeClass('disabled');
                nextTab(active);

            });
            $(".prev-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                prevTab(active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }

        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }


        $('.nav-tabs').on('click', 'li', function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).addClass('active');
        });

        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });


    </script>
{% endblock %}
