{% extends 'base.html' %}
{% load static %}
{% block title %}-Bid{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <section class="signup-step-container padd-top-bot">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           aria-expanded="true"><span class="round-tab" id="step-shoe_size">1 </span>
                                            <i>Confirm
                                                Size</i></a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           aria-expanded="false"><span class="round-tab">2</span> <i>Place Bid</i></a>
                                    </li>
                                </ul>
                            </div>

                            <form class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <div class="col-12">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 product-left">
                                                    <div class="buy-new-product-left">
                                                        <img src="{{ product.url }}"
                                                             class="img-fluid"
                                                             alt=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 product-right">
                                                    <div class="buy-now-top-sec">
                                                        <div class="inner-buy-now inner-buy-now1">
                                                            <p>Buy or Bid</p>
                                                            <span><b>${{ lowest_ask }} </b> lowest ask</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now2">
                                                            <p>Sell or Ask</p>
                                                            <span><b>${{ highest_bid }} </b> highest BId</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now3">
                                                            <p>Last Sale</p>
                                                            <div class="last-sale-price">
                                                                {#                                                                <h3>$273.00</h3>#}
                                                                <a href="#"><i class="fa fa-arrow-down"
                                                                               aria-hidden="true"></i> -$1 (0%)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h2 class="sec-heading">{{ product.title }}</h2>
                                                    <div class="border-line"></div>
                                                    <div class="row release-date">
                                                        <div class="col-md-8 col-md-7">
                                                            <p>Release Date: <b>{{ product.release_date }}</b></p>
                                                            <p>Colorway: <b>{{ product.colorway }}</b></p>
                                                        </div>
                                                        <div class="col-md-4 col-md-4">
                                                            <p>SKU: <b>{{ product.sku_number }}</b></p>
                                                            <p>Retail Price:<b>${{ product.retail_price }}</b></p>
                                                        </div>
                                                        <div class="col-md-4 col-md-7">
                                                            <p>Selected Size: <b
                                                                    id="selected_size"></b></p>
                                                        </div>
                                                    </div>
                                                    {% if not can_bid %}
                                                        <p style="color: green">You Have already bid on this
                                                            product</p>
                                                    {% elif not valid_address %}
                                                        {% if user.is_authenticated %}
                                                            <p style="color: red">Kindly Add Your Address Detail
                                                                First.</p>
                                                        {% endif %}
                                                    {% endif %}
                                                    <ul class="list-inline confirm-btn">
                                                        <li>
                                                            <button hidden type="button"
                                                                    id="shoe_size_dropdown_selected_next"
                                                                    class="default-btn next-step border-0 text-uppercase open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                confirm
                                                            </button>
                                                            <button type="button" id="shoe_size_dropdown_selected"
                                                                    class="default-btn text-uppercase border-0 open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                confirm
                                                            </button>
                                                            <button type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#size_chart_modal"
                                                                    href="javascript:void(0);"
                                                                    class="default-btn text-uppercase border-0 open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                Size Chart
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h2 class="sec-heading">{{ product.title }}</h2>
                                        <div class="row padd-top-30">
                                            <div class="col-md-6">
                                                <div class="total-price-sec">
                                                    <h3>Total Price</h3>
                                                    <div class="border-line"></div>
                                                    <div class="shiping-sec-top">
                                                        <p>Lowest Ask</p>
                                                        <span>${{ lowest_ask }}</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p>Shipping </p>
                                                        <span>Shipping</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p><b>Total</b></p>
                                                        <span><b>$105</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="total-price-sec total-price-sec2">
                                                    <h3>Place Bid</h3>
                                                    <div class="buy-now-field">
                                                        {% if valid_address and can_bid %}

                                                            <input required type="number" id="bid_amount"
                                                                   name="Lowest Bid"
                                                                   min="1"
                                                                   placeholder="Bid amount">
                                                            <span>$</span>
                                                        {% elif not user.is_authenticated %}
                                                            <input required type="number" id="bid_amount"
                                                                   name="Lowest Bid"
                                                                   min="1"
                                                                   placeholder="Bid amount">
                                                            <span>$</span>
                                                        {% else %}
                                                            <input disabled type="number" id="bid_amount"
                                                                   name="Lowest Bid"
                                                                   placeholder="Bid amount">
                                                            <span>$</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="top_selling_product_box payouttt_offers_content">
                                                        {% if valid_address and can_bid %}
                                                            <button type="button" hidden
                                                                    id="success-btn"
                                                                    data-toggle="modal"
                                                                    data-target="#exampleModal"
                                                                    href="javascript:void(0);"
                                                                    class="text-uppercase open_sans border-0 bold_700 text-white shop_btn d-inline-block font_26">
                                                            </button>
                                                            <button type="button" id="create_bid"
                                                                    class="text-uppercase open_sans bg-dark bold_700 border-0 text-white shop_btn d-inline-block font_26">
                                                                Confirm
                                                                Bid
                                                            </button>
                                                        {% elif not user.is_authenticated %}
                                                            <a href='/login/?next=/product-bid/{{ product.id }}/'>
                                                                <button type="button"
                                                                        class="text-uppercase open_sans bg-dark bold_700 border-0 text-white shop_btn d-inline-block font_26">
                                                                    Confirm Bid
                                                                </button>
                                                            </a>

                                                        {% else %}
                                                            </p>
                                                            <button disabled
                                                                    class="text-uppercase open_sans bold_700 bg-dark border-0 text-white shop_btn d-inline-block font_26">
                                                                Confirm Bid
                                                            </button>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Confirm Bid Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="success-checkmark">
                        <div class="check-icon">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h2 id="message-head"></h2>
                    <p id="message-body"></p>

                </div>
                <a href="{% url 'web_cart_bid' product.id %}" class="text-center pb-3">
                    <button type="submit" id="Done_close_modal"
                            class="default-btn text-uppercase border-0 open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                        Done
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- size chart modal -->
    <div class="modal fade" id="size_chart_modal" tabindex="-1" role="dialog" aria-labelledby="size_chart_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body position-relative">
                    <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-cancel" aria-hidden="true"></i>
                    </button>
                    <div class="sell-detail m-r-20 m-l-20">
                        <h2 class="text-uppercase text-dark oswald_font font_30 bold_600 text-center">Size Chart</h2>
                        <div class="highest-size mt-3">
                            {% for sizes in all_sizes %}
                                <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2 mt-2">
                                    {% for size in sizes %}
                                        <div class="highest-size-box mx-1">
                                            <input type="checkbox" id="{{ size.id }}">
                                            <label for="{{ size.id }}" data-dismiss="modal"
                                                   onclick="set_shoe_size({{ size.id }})">
                                                <span id="user_size_{{ size.id }}">{{ size }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_block %}
    <script>
        // ------------step-wizard-------------
        $(document).ready(function () {
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var target = $(e.target);

                if (target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                active.next().removeClass('disabled');
                nextTab(active);

            });
            $(".prev-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                prevTab(active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }

        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }


        $('.nav-tabs').on('click', 'li', function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).addClass('active');
        });

        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });

        var shoe_size_id = "Size";

        $("#create_bid").on('click', function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var bid_amount = $("#bid_amount").val();
            if (shoe_size_id !== "Size" && bid_amount !== '' && bid_amount !== '0') {
                $.ajax({
                    type: 'Post',
                    url: "{% url 'web_cart_bid' product.id %}",
                    data: {
                        "shoe_size_id": shoe_size_id,
                        'bid_amount': bid_amount,
                        'sku_number': '{{product.sku_number}}'
                    },
                    success: function (data) {
                        if (data['bid_success']) {
                            $('#message-body').text(data['message']);
                            $('#message-head').text(data['bid']);
                            $('#success-btn').click()
                        } else {
                            $('#message-body').text(data['message']);
                            $('#message-head').text(data['bid']);
                            $('#success-btn').click()
                        }
                    }
                });
            } else {
                $('#bid_amount').css({'border-color': 'red'});
            }

        });
        $("#shoe_size_dropdown_selected").on('click', function (e) {
            if (shoe_size_id === 'Size') {

                alert("please select shoe size first");

            } else {
                $('#shoe_size_dropdown_selected_next').click();
            }

        });

        function set_shoe_size(size) {
            shoe_size_id = size;
            $('#selected_size').text($('#user_size_' + size).text());
        }
    </script>

{% endblock %}
