{% extends 'base.html' %}
{% load static %}
{% block title %}-Bid{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <section class="signup-step-container padd-top-bot">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           aria-expanded="true"><span class="round-tab">1 </span> <i>Confirm
                                            Size</i></a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           aria-expanded="false"><span class="round-tab">2</span> <i>Buy Now</i></a>
                                    </li>
                                </ul>
                            </div>

                            <form action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <div class="col-12">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 product-left">
                                                    <div class="buy-new-product-left">
                                                        <img src="{{ product.url }}"
                                                             class="img-fluid"
                                                             alt=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 product-right">
                                                    <div class="buy-now-top-sec">
                                                        <div class="inner-buy-now inner-buy-now1">
                                                            <p>Buy or Bid</p>
                                                            <span><b>$215 </b> lowest ask</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now2">
                                                            <p>Sell or Ask</p>
                                                            <span><b>$305 </b> highest BId</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now3">
                                                            <p>Last Sale</p>
                                                            <div class="last-sale-price">
                                                                <h3>$273.00</h3>
                                                                <a href="#"><i class="fa fa-arrow-down"
                                                                               aria-hidden="true"></i> -$1 (0%)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h2 class="sec-heading">{{ product.title }}</h2>
                                                    <div class="select_filed size-selected">
                                                        <select name="Selectbox"
                                                                class="wpcf7-form-control wpcf7-select Wide"
                                                                aria-invalid="false">
                                                            <option value="AQI India">Size</option>
                                                            {% for size in product.shoe_sizes.all %}
                                                                <option value="size.shoe_size">{{ size.shoe_size }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="border-line"></div>
                                                    <div class="row release-date">
                                                        <div class="col-md-8 col-md-7">
                                                            <p>Release Date: <b>{{ product.release_date }}</b></p>
                                                            <p>Colorway: <b>{{ product.colorway }}</b></p>
                                                        </div>
                                                        <div class="col-md-4 col-md-4">
                                                            <p>SKU: <b>{{ product.sku_number }}</b></p>
                                                            <p>Retail Price:<b> ${{ product.retail_price }}</b></p>
                                                        </div>
                                                    </div>
                                                    <ul class="list-inline confirm-btn">
                                                        <li>
                                                            <button type="button"
                                                                    class="default-btn next-step text-uppercase open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                confirm
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h2 class="sec-heading">{{ product.title }}</h2>
                                        <div class="row padd-top-30">
                                            <div class="col-md-6">
                                                <div class="total-price-sec">
                                                    <h3>Total Price</h3>
                                                    <div class="border-line"></div>
                                                    <div class="shiping-sec-top">
                                                        <p>Ask</p>
                                                        <span>$100</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p>Shipping </p>
                                                        <span>Shipping</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p><b>Total</b></p>
                                                        <span><b>$105</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="total-price-sec total-price-sec2">
                                                    <h3>Buy Now </h3>
                                                    <div class="buy-now-price">
                                                        <p>Total Price</p>
                                                        <div class="inner-buy-now-price">
                                                            <p><b>105</b></p>
                                                            <span><b>$</b></span>
                                                        </div>
                                                    </div>
                                                    <div class="top_selling_product_box payouttt_offers_content">
                                                        <a href="javascript:void(0);"
                                                           class="text-uppercase open_sans bold_700 text-white shop_btn d-inline-block font_26">Buy
                                                            Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block js_block %}
    <script>
        // ------------step-wizard-------------
        $(document).ready(function () {
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var target = $(e.target);

                if (target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                active.next().removeClass('disabled');
                nextTab(active);

            });
            $(".prev-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                prevTab(active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }

        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }


        $('.nav-tabs').on('click', 'li', function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).addClass('active');
        });

        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });


    </script>
{% endblock %}
