{% extends 'base.html' %}
{% load static %}
{% block title %}- Details{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <div class="payoutt_container">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 O-M-2">
                        <div class="title_content">
                            <h1 class="text-uppercase text-white open_sans font_68 bold_700">Collection</h1>
                            <p style="color: white;" class="mt-lg-3 mt-xl-4 mt-2">On QuickKicks, every sneaker you want is always available and
                                authentic.</p>
{#                            <div class="mt-lg-3 mt-xl-4">#}
{#                                <a href="categories-detail.html"#}
{#                                   class="text-uppercase open_sans bold_700 text-white bg_green shop_btn d-inline-block font_16 mt-lg-2 mt-xl-3">Shop#}
{#                                    Now</a>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-md-6 O-M-1 text-right">
                        <img src="{% static 'web/images/categories-shoes.png' %}" alt="" class="img-fluid"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <section id="top_selling_sec" class="position-relative overflow-hidden">
            <div class="top_selling_container padd-top-bot">
                <div class="container product-slider-sec">
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <div class="row align-items-center moblie-cate-title">
                                <div class="col-md-6 category-title-top"><h4><b>Home/</b> Category</h4></div>
                                <div class="col-md-6">
                                    <div class="popularity-right-sec">
                                        <h4><b>Sort By:</b></h4>
                                        <div class="nice-select Wide" tabindex="0"><span
                                                class="current">Popularity</span>
                                            <ul class="list">
                                                <li data-value="Price" class="option selected">Price High to Low</li>
                                                <li data-value="High" class="option">Price Low to High</li>
                                                <li data-value="Arrivals" class="option">New Arrivals</li>
                                                <li data-value="Alphabetical" class="option">Alphabetical</li>
                                                <li data-value="Reccomended" class="option">Reccomended for me</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="refine-sec-top">
                                <div class="brand-header-top">
                                    <div class="brand-header">
                                        <p>Refine (28 results)</p>
                                        <span class="mines-plus-circle">
                                            <i class="flaticon-minus" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="filter-right-sec">
                                    <div class="myaccordion active">
                                        <div class="brand-header">
                                            <h3>Brands</h3>
                                            <span class="mines-plus-circle">
                                            <i class="flaticon-minus" aria-hidden="true"></i>
                                        </span>
                                        </div>
                                        <div class="inner-accordion">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox3" value="option1"/>
                                                <label for="inlineCheckbox3"> Air Jordan </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" value="option2"/>
                                                <label for="inlineCheckbox1"> Adidas </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox2" value="option3"/>
                                                <label for="inlineCheckbox2"> Nike </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="myaccordion active padd-top-40">
                                        <div class="brand-header">
                                            <h3>Sizes</h3>
                                            <span class="mines-plus-circle">
                                            <i class="flaticon-minus" aria-hidden="true"></i>
                                        </span>
                                        </div>
                                        <div class="inner-accordion releasing-year-top">
                                            <div class="sizes-input-field">
                                                <div class="checkbox checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox10" value="option10"/>
                                                    <label for="inlineCheckbox10"> Mens </label>
                                                </div>
                                                <div class="checkbox checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox11" value="option11"/>
                                                    <label for="inlineCheckbox11"> Gradeschool</label>
                                                </div>
                                                <div class="checkbox checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox12" value="option12"/>
                                                    <label for="inlineCheckbox12"> Kids </label>
                                                </div>
                                                <div class="checkbox checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox13" value="option13"/>
                                                    <label for="inlineCheckbox13"> Toddlers </label>
                                                </div>
                                                <div class="checkbox checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox14" value="option14"/>
                                                    <label for="inlineCheckbox14"> Womens </label>
                                                </div>
                                                <div class="checkbox checkbox-inline">
                                                    <input type="checkbox" id="inlineCheckbox15" value="option15"/>
                                                    <label for="inlineCheckbox15"> Infant </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="myaccordion active padd-top-40">
                                        <div class="brand-header">
                                            <h3>Colors</h3>
                                            <span class="mines-plus-circle">
                                            <i class="flaticon-minus" aria-hidden="true"></i>
                                        </span>
                                        </div>
                                        <div class="inner-accordion">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox4" value="option4"/>
                                                <label for="inlineCheckbox4"> Red </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox5" value="option5"/>
                                                <label for="inlineCheckbox5"> Blue</label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox6" value="option6"/>
                                                <label for="inlineCheckbox6"> Green </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox7" value="option7"/>
                                                <label for="inlineCheckbox7"> Black </label>
                                            </div>
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox8" value="option8"/>
                                                <label for="inlineCheckbox8"> White </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  <div class="padd-top-40">
                                         <div class="brand-header">
                                             <h3>Releasing year</h3>
                                         </div>
                                          <div class="inner-accordion releasing-year-top year-input-field">
                                             <div class="sizes-input-field">
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox41" value="option41" />
                                                     <label for="inlineCheckbox41"> 2020 </label>
                                                 </div>
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox34" value="option34" />
                                                     <label for="inlineCheckbox34"> 2019 </label>
                                                 </div>
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox35" value="option35" />
                                                     <label for="inlineCheckbox35"> 2018 </label>
                                                 </div>
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox36" value="option36" />
                                                     <label for="inlineCheckbox36"> 2017 </label>
                                                 </div>
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox37" value="option37" />
                                                     <label for="inlineCheckbox37"> 2016 </label>
                                                 </div>
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox38" value="option38" />
                                                     <label for="inlineCheckbox38"> 2015 </label>
                                                 </div>
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox39" value="option39" />
                                                     <label for="inlineCheckbox39"> 2014 </label>
                                                 </div>
                                                 <div class="checkbox checkbox-inline">
                                                     <input type="checkbox" id="inlineCheckbox40" value="option40" />
                                                     <label for="inlineCheckbox40"> 2013 </label>
                                                 </div>
                                             </div>
                                         </div>
                                     </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="top_selling_slider_main col-md-8 col-lg-9">
                            <div class="row align-items-center desktop-cate-title">
                                <div class="col-lg-6 col-md-5 category-title-top"><h4><b>Home/</b> Category</h4></div>
                                <div class="col-lg-6 col-md-7">
                                    <div class="popularity-right-sec">
                                        <h4><b>Sort By:</b></h4>
                                        <div class="nice-select Wide" tabindex="0"><span
                                                class="current">Popularity</span>
                                            <ul class="list">
                                                <li data-value="Price" class="option selected">Price High to Low</li>
                                                <li data-value="High" class="option">Price Low to High</li>
                                                <li data-value="Arrivals" class="option">New Arrivals</li>
                                                <li data-value="Alphabetical" class="option">Alphabetical</li>
                                                <li data-value="Reccomended" class="option">Reccomended for me</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top_selling_slider row padd-top-product">
                                <div class="top_selling_product_box col-lg-4 col-md-6">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/top_selling_product_1.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x
                                            Air Force 1 Low-The Ten</a></h3>
                                        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$230.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 mobile-top-product">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/top_selling_product_2.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x
                                            Air Force 1 Low '07'-MoMA</a></h3>
                                        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 mobile-top-product mobile-top-product1">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/top_selling_product_3.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x
                                            Air Max 90-Desert Ore</a></h3>
                                        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/new_releases_product_1.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan 6
                                            Retro DMP (2020)</a></h3>
                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$230.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/new_releases_product_2.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas
                                            Yeezy Boost 350 V2 Linen</a></h3>
                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/new_releases_product_3.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan 1
                                            Retro High Court Purple White</a></h3>
                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/top_selling_product_1.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x
                                            Air Force 1 Low-The Ten</a></h3>
                                        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$230.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/top_selling_product_2.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x
                                            Air Force 1 Low '07'-MoMA</a></h3>
                                        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/top_selling_product_3.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x
                                            Air Max 90-Desert Ore</a></h3>
                                        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/featured_products_product_1.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas
                                            Yeezy Boost 350 V2 Cinder</a></h3>
                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$255.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/featured_products_product_2.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas
                                            Yeezy Boost 350 V2 Zebra</a></h3>
                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                                <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                    <div class="top_sell_img border bg-white overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                Cart</a>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                                src="{% static 'web/images/featured_products_product_3.png' %}" alt="" class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan 1
                                            Retro High Court Purple White</a></h3>
                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>
                                    </div>
                                    <div class="cart-btn-mobile ">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top_selling_product_box col-12 padd-top-product payouttt_offers_content text-center">
                        <a href="javascript:void(0);"
                           class="text-uppercase open_sans bold_700 text-white bg_green shop_btn d-inline-block font_26">View
                            more</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js_block %}
    <script>
        $(".myaccordion .brand-header").click(function () {
            $(this).siblings().slideToggle();
            $(this).parents('.myaccordion').toggleClass('active');
        });
        $(".refine-sec-top .brand-header-top").click(function () {
            $(this).siblings().slideToggle();
            $(".refine-sec-top").toggleClass('active');
        });
        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });
    </script>
{% endblock %}