{% extends 'base.html' %}
{% load static %}
{% block title %}-CheckOut{% endblock %}

{% block content %}
    <main class="bg-white position-relative">
        <div class="payoutt_container">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 O-M-2">
                        <div class="title_content">
                            <h1 class="text-uppercase text-white open_sans font_68 bold_700">check out</h1>
                            <p style="color: white;" class="mt-lg-3 mt-xl-4 mt-2">On Payouttt, every sneaker you want is always available and
                                authentic.</p>
                            <div class="mt-lg-3 mt-xl-4">
                                <a href="{% url 'web-category-detail' %}"
                                   class="text-uppercase open_sans bold_700 text-white bg_green shop_btn d-inline-block font_16 mt-lg-2 mt-xl-3">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 O-M-1 text-right">
                        <img src="images/categories-shoes.png" alt="" class="img-fluid"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <section class="padd-top-bot checkout-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkout-left">
                            <div class="return-customer">
                                <a href="javascript:void(0);">Returning customer? <span>Click here to login</span></a>
                            </div>
                            <div class="billing-form">
                                <h3>Billing Details</h3>
                                <div class="billing-detail-sec">
                                <span class="input input--yoshiko">
                                    <label class="input__label " for="input-10">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>Name</span>
                                    </label>
                                    <input class="input__field input__field--yoshiko" required disabled type="text"
                                           value="{{ address.user.full_name }}" id="input-10" name="fname"/>
{#                                    <label class="input__label input__label--yoshiko" for="input-10"> #}
{#                                        <span class="input__label-content input__label-content--yoshiko"#}
{#                                              data-content="First Name"> <sup>*</sup>Name</span>#}
{#                                    </label>#}
                                </span>
                                </div>
                                <div class="select_filed size-selected">
                                    <label class="input__label " for="input-10">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>Country</span>
                                    </label>
                                    <input class="input__field input__field--yoshiko" required type="text"
                                           value="{{ address.country }}" id="input-11" disabled name="country"/>
                                    {#                                    <label class="input__label input__label--yoshiko" for="input-10">#}
                                    {#                                        <span class="input__label-content input__label-content--yoshiko"#}
                                    {#                                              data-content="Country"> <sup>*</sup></span>#}
                                    {#                                    </label>#}
                                </div>
                                <div class="billing-detail-sec">
                                <span class="input input--yoshiko">
                                    <label class="input__label " for="input-10">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>City</span>
                                    </label>
                                    <input class="input__field input__field--yoshiko" required type="text" disabled
                                           id="input-12" value="{{ address.city }}"
                                           name="town_city"/>
{#                                    <label class="input__label input__label--yoshiko" for="input-11"> #}
{#                                        <span class="input__label-content input__label-content--yoshiko"#}
{#                                              data-content="Town City"><sup>*</sup></span>#}
{#                                    </label>#}
                                </span>
                                </div>
                                <div class="billing-detail-sec">
                                <span class="input input--yoshiko">
                                    <label class="input__label " for="input-10">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>State</span>
                                    </label>
                                    <input class="input__field input__field--yoshiko" required disabled type="text"
                                           id="input-13" value="{{ address.state }}"
                                           name="State"/>
{#                                    <label class="input__label input__label--yoshiko" for="input-12">#}
{#                                        <span class="input__label-content input__label-content--yoshiko"#}
{#                                              data-content="State"><sup>*</sup></span>#}
{#                                    </label>#}
                                </span>
                                </div>
                                <div class="billing-detail-sec">
                                <span class="input input--yoshiko">
                                    <label class="input__label " for="input-10">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>Zip Code</span>
                                    </label>
{#                                    <label class="input__label input__label--yoshiko" for="input-12">#}
{#                                        <span class="input__label-content input__label-content--yoshiko"#}
{#                                              data-content="Post Code">Post Code<sup>*</sup></span>#}
{#                                    </label>#}
                                    <input class="input__field input__field--yoshiko" required disabled type="text"
                                           id="input-14" value="{{ address.zip }}"
                                           name="Post_code"/>

                                </span>
                                </div>
                                <div class="billing-detail-sec">
                                <span class="input input--yoshiko">
                                    <label class="input__label " for="input-10">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>Street</span>
                                    </label>
                                    <input class="input__field input__field--yoshiko" required  type="text"
                                           id="input-15" value="{{ address.street1 }}"
                                           name="Street"/>
{#                                    <label class="input__label input__label--yoshiko" for="input-13"> #}
{#                                        <span class="input__label-content input__label-content--yoshiko"#}
{#                                              data-content="Street"><sup>*</sup></span>#}
{#                                    </label>#}
                                </span>
                                </div>
                                <div class="billing-detail-sec">
                                    <span class="input input--yoshiko">
                                    <label class="input__label " for="input-16">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>Phone</span>
                                    </label>
                                    <input class="input__field input__field--yoshiko" required type="text"
                                           id="input-16"
                                           name="Phone"/>
                                </span>
                                </div>
                                <div class="billing-detail-sec billing-detail-textarea">
                                <span class="input input--yoshiko">
                                    <label class="input__label " for="input-10">
                                        <span class="input__label-content input__label-content--yoshiko"
                                              data-content=""> <sup>*</sup>Order Note</span>
                                    </label>
                                    <textarea class="input__field input__field--yoshiko" name="message" id="order_note"
                                              placeholder="Note about your order, e.g: special note for delivery"></textarea>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="checkout-right-sec">
                            <div class="order-table">
                                <h2>Your Order</h2>
                                <div class="table-body">
                                    <table>
                                        <tbody>
                                        <tr class="table-heading">
                                            <td>Order</td>
                                            <td>Total</td>
                                        </tr>
                                        {% for item in cart.cart_item.all %}
                                            <tr>
                                                <td>{{ item.product.title }}</td>
                                                <td>${{ item.product.listing_price }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr class="shipping">
                                            <td>Shipping Charges</td>
                                            <td id="shipping_charges">${{ cart.shipping_amount }}</td>
                                        </tr>
                                        <tr class="sub-total">
                                            <td>Subtotal</td>
                                            <td id="product_charges">${{ total_price }}</td>
                                        </tr>
                                        <tr class="total">
                                            <td>Total</td>
                                            <td id="total_amount">${{ grand_total }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {#                            <div class="payment-summery">#}
                            {#                                <h2>Payment</h2>#}
                            {#                                <div id="accordion" class="accordion ">#}
                            {#                                    <div class="card mb-0 payment-info-sec">#}
                            {#                                        <div class="card-header collapsed payment-heading" data-toggle="collapse"#}
                            {#                                             href="#collapseOne">#}
                            {#                                            <img src="images/google-pay.png" alt=""/>#}
                            {#                                            <h3>Google Pay</h3>#}
                            {#                                            <i class="fa fa-angle-down"></i>#}
                            {#                                        </div>#}
                            {#                                        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">#}
                            {#                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting#}
                            {#                                                industry. Lorem Ipsum has been the industry's standard dummy text ever#}
                            {#                                                since the 1500s, when an unknown printer took a galley of type and#}
                            {#                                                scrambled it to make a type specimen book.</p>#}
                            {#                                        </div>#}
                            {#                                        <div class="card-header collapsed payment-heading" data-toggle="collapse"#}
                            {#                                             data-parent="#accordion" href="#collapseTwo">#}
                            {#                                            <img src="images/paypal-img.png" alt=""/>#}
                            {#                                            <h3>Paypal</h3>#}
                            {#                                            <i class="fa fa-angle-down"></i>#}
                            {#                                        </div>#}
                            {#                                        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">#}
                            {#                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting#}
                            {#                                                industry. Lorem Ipsum has been the industry's standard dummy text ever#}
                            {#                                                since the 1500s, when an unknown printer took a galley of type and#}
                            {#                                                scrambled it to make a type specimen book.</p>#}
                            {#                                        </div>#}
                            {#                                        <div class="card-header collapsed payment-heading credit-sec"#}
                            {#                                             data-toggle="collapse" data-parent="#accordion" href="#collapseThree">#}
                            {#                                            <img src="images/payment-img.png" class="credit-img" alt=""/>#}
                            {#                                            <h3>Credit Card</h3>#}
                            {#                                            <i class="fa fa-angle-down"></i>#}
                            {#                                        </div>#}
                            {#                                        <div id="collapseThree" class="collapse card-body" data-parent="#accordion">#}
                            {#                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting#}
                            {#                                                industry. Lorem Ipsum has been the industry's standard dummy text ever#}
                            {#                                                since the 1500s, when an unknown printer took a galley of type and#}
                            {#                                                scrambled it to make a type specimen book.</p>#}
                            {#                                        </div>#}
                            {#                                        <div class="card-header collapsed payment-heading cash-delivery"#}
                            {#                                             data-toggle="collapse" data-parent="#accordion" href="#collapsefour">#}
                            {#                                            <h3>Cash On Delivery</h3>#}
                            {#                                            <i class="fa fa-angle-down"></i>#}
                            {#                                        </div>#}
                            {#                                        <div id="collapsefour" class="collapse cash-delivery-detail"#}
                            {#                                             data-parent="#accordion">#}
                            {#                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting#}
                            {#                                                industry. Lorem Ipsum has been the industry's standard dummy text ever#}
                            {#                                                since the 1500s, when an unknown printer took a galley of type and#}
                            {#                                                scrambled it to make a type specimen book.</p>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="order-btn">
                                <a href="{% url 'web_cart_confirmation' %}">confirm order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

{% block js_block %}
    <script>
        $(".myaccordion .brand-header,.refine-sec-top .refine-sec-top").click(function () {
            $(this).siblings().slideToggle();
            $(".myaccordion,.refine-sec-top").toggleClass('active');
        });
        $(".refine-sec-top .brand-header-top").click(function () {
            $(this).siblings().slideToggle();
            $(".refine-sec-top").toggleClass('active');
        });
        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });
    </script>
    <!-- input-effect -->
    <script>
        // input-effect
        (function () {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function () {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function () {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call(document.querySelectorAll('input,textarea.input__field')).forEach(function (inputEl) {
                // in case the input is already filled..
                if (inputEl.value.trim() !== '') {
                    classie.add(inputEl.parentNode, 'input--filled');
                }

                // events:
                inputEl.addEventListener('focus', onInputFocus);
                inputEl.addEventListener('blur', onInputBlur);
            });

            function onInputFocus(ev) {
                classie.add(ev.target.parentNode, 'input--filled');
            }

            function onInputBlur(ev) {
                if (ev.target.value.trim() === '') {
                    classie.remove(ev.target.parentNode, 'input--filled');
                }
            }
        })();

    </script>
{% endblock %}
