{% extends 'base.html' %}
{% load static %}
{% block title %}-Confirmation{% endblock %}

{% block content %}
    <main class="bg-white position-relative">
        <!-- search bar -->
        <div class="container">
            <div class="confirmation-sec padd-top-bot">
                <div class="col-md-7">
                    <div class="receive-sec">
                        <i class="flaticon-checked"></i>
                        <h2>We’ve received your order</h2>
                        <p>Order No. : <span>#{{ cart.id }}</span></p>
                    </div>
                    <div class="order-info">
                        <h3>Delivery Details</h3>
                        <div class="row">
                            <div class="col-md-6 delivery-detail">
                                <h4>First Name</h4>
                                <p>{{ address.user.full_name }}</p>
                            </div>
                            <div class="col-md-6 delivery-detail">
                                <h4>Delivery Method</h4>
                                <p>{{ cart.shipping_type }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 delivery-detail">
                                <h4>Phone Number</h4>
                                <p>{{ cart.user.phone_number }}</p>
                            </div>
                            <div class="col-md-6 delivery-detail">
                                <h4>Email Address</h4>
                                <p>{{ cart.user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 delivery-detail">
                                <h4>Address</h4>
                                <p>{{ address.full_address }}</p>
                            </div>
                            <div class="col-md-6 delivery-detail">
                            </div>
                        </div>
                        <div class="order-summery">
                            <h4>Order Summary</h4>
                            <table>
                                <tbody>
                                {% for item in cart.cart_item.all %}
                                    <tr>
                                        <td>{{ item.product.title }}</td>
                                        <td>${{ item.product.listing_price }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>{{ cart.shipping_type }}</td>
                                    <td>${{ cart.shipping_amount }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {#                        <div class="payment-information">#}
                        {#                            <h3>Payment Information</h3>#}
                        {#                            <div class="row">#}
                        {#                                <div class="col-md-6 delivery-detail">#}
                        {#                                    <h4>Credit Card</h4>#}
                        {#                                    <p>Visa ********7878</p>#}
                        {#                                </div>#}
                        {#                                <div class="col-md-6 delivery-detail">#}
                        {#                                    <h4>Billing Address</h4>#}
                        {#                                    <p>5290 Betts Rd, Greenbrier, TN, 37073</p>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                    <form action="{% url 'stripe_charge' %}" method="post" class="text-center">
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_key }}"
                                data-description="Payouttt Charge"
                                data-amount="{{ grand_total }}"
                                data-locale="auto"></script>
                    </form>
                </div>
            </div>
        </div>
        <!-- top_selling_sec -->
    </main>
{% endblock %}

{% block js_block %}
    <script>
        $('.stripe-button-el').addClass('default-btn text-uppercase open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4');
        $('.stripe-button-el').removeClass('stripe-button-el');
    </script>
{% endblock %}
