{% extends 'base.html' %}
{% load static %}
{% block title %}-Thank You{% endblock %}

{% block content %}
    <main class="bg-white position-relative">
        <!-- search bar -->
        <div class="container">
            <div class="thank-sec padd-top-bot row">
                <div class="col-md-6 offset-md-3">
                    <div class="receive-sec">
                        <h2>An Error Occured</h2>
                        <p>Something went wrong please Try again later.</p>
                        <div class="thank-btn">
                            <a class="border-btn" href="{% url 'web-home' %}">back to home</a>
                            <a class="bg-btn" href="{% url 'web_cart_confirmation' %}">Try Again</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- top_selling_sec -->
    </main>
{% endblock %}
