{% extends 'base.html' %}
{% load static %}
{% block title %}-News{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <div class="payoutt_container">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 O-M-2">
                        <div class="title_content">
                            <h1 class="text-uppercase text-white open_sans font_68 bold_700 latest_new">Latest
                                Update</h1>
                            <p class="mt-lg-3 mt-xl-4 mt-2">We caught up professional skateboarder Jamie Foy on how<br/>
                                he's spending time at home.</p>
                            <div class="mt-lg-3 mt-xl-4">
                                <a href="{% url 'web-category-detail' %}"
                                   class="text-uppercase open_sans bold_700 text-white bg_green shop_btn d-inline-block font_16 mt-lg-2 mt-xl-3">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 O-M-1">
                        <img src="{% static 'web/images/news_shoes.png' %}" alt="" class="img-fluid float-right"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- news-blog -->
        <div class="Blog-section">
            <div class="container">
                <div class="row blog_in_title">
                    <h2 class="col-6 tile_blog">latest news</h2>
                    <a href="#" class="col-6 see_all">see all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-6 mb-lg-0 aos-init aos-animate"
                         data-aos="fade-up">
                        <div class="blog-main">
                            <a href="#"><img src="{% static 'web/images/News_01.jpg' %}" alt="images"></a>
                            <div class="blog-inner">
                                <div class="date_month">
                                    <div class="date">22</div>
                                    <div class="month">feb</div>
                                </div>
                                <a class="blog-sub-title" href="{% url 'web_news_detail' %}"> Ever undertakes laborious
                                    physical</a>
                                <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore, cum soluta
                                    nobis est eligendi optio cumque nihil ipossimus</p>
                                <a class="read_more" href="{% url 'web_news_detail' %}">Read More<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-6 mb-lg-0 aos-init aos-animate"
                         data-aos="fade-up">
                        <div class="blog-main">
                            <a href="#"><img src="{% static 'web/images/News_02.jpg' %}" alt="images"></a>
                            <div class="blog-inner">
                                <div class="date_month">
                                    <div class="date">22</div>
                                    <div class="month">feb</div>
                                </div>
                                <a class="blog-sub-title" href="{% url 'web_news_detail' %}"> Ever undertakes laborious
                                    physical</a>
                                <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore, cum soluta
                                    nobis est eligendi optio cumque nihil ipossimus</p>
                                <a class="read_more" href="{% url 'web_news_detail' %}">Read More<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-6 mb-lg-0 aos-init aos-animate"
                         data-aos="fade-up">
                        <div class="blog-main">
                            <a href="#"><img src="{% static 'web/images/News_03.jpg' %}" alt="images"></a>
                            <div class="blog-inner">
                                <div class="date_month">
                                    <div class="date">22</div>
                                    <div class="month">feb</div>
                                </div>
                                <a class="blog-sub-title" href="{% url 'web_news_detail' %}"> Ever undertakes laborious
                                    physical</a>
                                <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore, cum soluta
                                    nobis est eligendi optio cumque nihil ipossimus</p>
                                <a class="read_more" href="{% url 'web_news_detail' %}">Read More<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-6 mb-lg-0 aos-init aos-animate"
                         data-aos="fade-up">
                        <div class="blog-main">
                            <a href="#"><img src="{% static 'web/images/News_04.jpg' %}" alt="images"></a>
                            <div class="blog-inner">
                                <div class="date_month">
                                    <div class="date">22</div>
                                    <div class="month">feb</div>
                                </div>
                                <a class="blog-sub-title" href="{% url 'web_news_detail' %}"> Ever undertakes laborious
                                    physical</a>
                                <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore, cum soluta
                                    nobis est eligendi optio cumque nihil ipossimus</p>
                                <a class="read_more" href="{% url 'web_news_detail' %}">Read More<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-6 mb-lg-0 aos-init aos-animate"
                         data-aos="fade-up">
                        <div class="blog-main">
                            <a href="#"><img src="{% static 'web/images/News_05.jpg' %}" alt="images"></a>
                            <div class="blog-inner">
                                <div class="date_month">
                                    <div class="date">22</div>
                                    <div class="month">feb</div>
                                </div>
                                <a class="blog-sub-title" href="{% url 'web_news_detail' %}"> Ever undertakes laborious
                                    physical</a>
                                <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore, cum soluta
                                    nobis est eligendi optio cumque nihil ipossimus</p>
                                <a class="read_more" href="{% url 'web_news_detail' %}">Read More<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-6 mb-lg-0 aos-init aos-animate"
                         data-aos="fade-up">
                        <div class="blog-main">
                            <a href="#"><img src="{% static 'web/images/News_06.jpg' %}" alt="images"></a>
                            <div class="blog-inner">
                                <div class="date_month">
                                    <div class="date">22</div>
                                    <div class="month">feb</div>
                                </div>
                                <a class="blog-sub-title" href="{% url 'web_news_detail' %}"> Ever undertakes laborious
                                    physical</a>
                                <p>Et harum quidem rerum facilis est et expedinctio. Nam libero tempore, cum soluta
                                    nobis est eligendi optio cumque nihil ipossimus</p>
                                <a class="read_more" href="{% url 'web_news_detail' %}">Read More<i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
