{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <p>#}
{#        Your password has been set. You may go ahead and <a href="{% url 'login' %}">Sign in</a> now.#}
{#    </p>#}
{#{% endblock %}#}


{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    {% block title %}Setting New password{% endblock title %}
    <main class="bg-white position-relative">
        <div class="form-margin uk-section uk-flex uk-flex-middle">
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <div class="uk-grid-margin uk-grid uk-grid-stack">
                        <div class="uk-width-1-1@m">
                            <ul class="uk-switcher uk-margin">
                                <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large uk-active"
                                      action="" method="post">
                                    <li class="Forgot-Password uk-active">
                                        <h3 class="uk-card-title uk-text-center">Reset Password Done</h3>
                                        <p class="uk-text-center uk-width-medium@s uk-margin-auto">
                                        </p>`
                                        {% csrf_token %}
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-1">
												<span class="uk-form-icon" uk-icon="icon: user">'
												</span>
                                                Your password has been set. You may go ahead and <a
                                                    href="{% url 'two_factor:login' %}">Sign in</a> now.
                                            </div>
                                        </div>
                                    </li>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
