{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    {% block title %}Setting New password{% endblock title %}
    <main class="bg-white position-relative">
        <div class="form-margin uk-section uk-flex uk-flex-middle">
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <div class="uk-grid-margin uk-grid uk-grid-stack">
                        <div class="uk-width-1-1@m">
                            <ul class="uk-switcher uk-margin">
                                <form class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large uk-active"
                                      action="" method="post">
                                    <li class="Forgot-Password uk-active">
                                        <h3 class="uk-card-title uk-text-center">Reset Password</h3>
                                        <p class="uk-text-center uk-width-medium@s uk-margin-auto">
                                        </p>`
                                        {{ signup_form.errors }}
                                        <form method="post" id="login_form" action="{% url 'signup' %}">
                                            {% csrf_token %}
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-1">
												<span class="uk-form-icon" uk-icon="icon: user">'
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                     height="24"><path fill="none" d="M0 0h24v24H0z"/><path
                                                        d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/></svg>
												</span>
                                                    {{ form.new_password1|add_class:"uk-input uk-form-large"|attr:"placeholder:New Password" }}
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-1">
												<span class="uk-form-icon" uk-icon="icon: user">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                     height="24"><path fill="none" d="M0 0h24v24H0z"/><path
                                                        d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/></svg>
												</span>
                                                    {{ form.new_password2|add_class:"uk-input uk-form-large"|attr:"placeholder:Confirm Password" }}
                                                </div>
                                            </div>
                                            <div class="uk-margin">
                                                <button type="submit"
                                                        class="uk-button uk-button-primary uk-button-large uk-width-1-1 validate_code"
                                                >Reset Password
                                                </button>
                                            </div>

                                        </form>
                                    </li>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
