{% extends 'base.html' %}
{% load static %}
{% block title %}-Product Detail{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <div class="container padd-top top-title-bar">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 category-title-top">
                    <h4><a href="index.html">Home/</a> Category</h4>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="popularity-right-sec popularity-right-sort">
                        <h4><b>Share:</b></h4>
                        <ul>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="signup-step-container padd-top-bot signup-step-categories">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="wizard">
                            <form action="index.html" class="login-box">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-md-6 product-left">
                                                    <div id="slick-product">
                                                        <div class="column small-11 small-centered row">
                                                            <div class="slider slider-nav">
                                                                <div class="product-slider-img">
                                                                    <img src="{% static 'web/images/product-img1.png' %}"
                                                                         class="img-fluid"
                                                                         alt=""/>
                                                                </div>
                                                                <div class="product-slider-img">
                                                                    <img src="{% static 'web/images/product-img2.png' %}"
                                                                         class="img-fluid"
                                                                         alt=""/></div>
                                                                <div class="product-slider-img">
                                                                    <img src="{% static 'web/images/product-img3.png' %}"
                                                                         class="img-fluid"
                                                                         alt=""/></div>
                                                                <div class="product-slider-img product-slider-img-sec">
                                                                    <img src="{% static 'web/images/product-img4.png' %}"
                                                                         class="img-fluid"
                                                                         alt=""/></div>
                                                            </div>
                                                            <div class="slider slider-single">
                                                                <div class="buy-new-product">
                                                                    <img src="{{ product.url }}"
                                                                         class="img-fluid"
                                                                         alt=""/>
                                                                </div>
                                                                <div class="buy-new-product">
                                                                    <img src="{% static 'web/images/product-img2.png' %}"
                                                                         class="img-fluid"
                                                                         alt=""/></div>
                                                                <div class="buy-new-product">
                                                                    <img src="{% static 'web/images/product-img3.png' %}"
                                                                         class="img-fluid"
                                                                         alt=""/></div>
                                                                <div class="buy-new-product">
                                                                    <img src="{% static 'web/images/product-img4.png' %}"
                                                                         class="img-fluid"
                                                                         alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 product-right">
                                                    <div class="buy-now-top-sec">
                                                        <div class="inner-buy-now inner-buy-now1">
                                                            <p>Buy or Bid</p>
                                                            <span><b>${{ lowest_ask }} </b> lowest ask</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now2">
                                                            <p>Sell or Ask</p>
                                                            <span><b>${{ highest_bid }} </b> highest BId</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now3">
                                                            <p>Last Sale</p>
                                                            <div class="last-sale-price">
                                                                <h3>$273.00</h3>
                                                                <a href="#"><i class="fa fa-arrow-down"
                                                                               aria-hidden="true"></i> -$1 (0%)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h2 class="sec-heading">{{ product.title }}</h2>
                                                    <ul class="condition-sec">
                                                        <li>Condition: <span>New</span></li>
                                                        <li>SKU: <span>{{ product.sku_number }}</span></li>
                                                        <li><span>100% Authentic</span></li>
                                                    </ul>
                                                    <div class="product-prize-sec-top">
                                                        <h2>${{ product.listing_price }}
                                                            {#                                                            <span>$70.00</span>#}
                                                        </h2>
                                                    </div>
                                                    <div class="border-line"></div>
                                                    <div class="row release-date">
                                                        <div class="col-md-8 col-md-7">
                                                            <p>Release Date: <b>{{ product.release_date }}</b></p>
                                                            <p>Colorway: <b>{{ product.colorway }}</b></p>
                                                        </div>
                                                        <div class="col-md-4 col-md-4">
                                                            <p>SKU: <b>{{ product.sku_number }}</b></p>
                                                            <p>Retail Price:<b> ${{ product.retail_price }}</b></p>
                                                        </div>
                                                    </div>
                                                    <ul class="list-inline confirm-btn">
                                                        <li>
                                                            <button type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#size_chart_modal"
                                                                    href="javascript:void(0);"
                                                                    class="default-btn text-uppercase open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                Select Size
                                                            </button>
                                                        </li>
                                                    </ul>
                                                    <div class="date-picker-sec-top">
                                                        <div class="inner-date-picker">
                                                            <img src="{% static 'web/images/date-picker-icon.png' %}"
                                                                 alt=""/>
                                                            <p>Date</p>
                                                        </div>
                                                        <input class="form-control position-absolute" type="date"
                                                               value=""
                                                               id="example-date-input"/>
                                                    </div>
                                                    <div class="top_sell_opetion d-flex align-items-center justify-content-between mt-4">
                                                        <a href="{% url 'web_cart_bid' product.id %}"
                                                           class="top_sell_a_tag top_sell_a_tag_1 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Bid</a>
                                                        <a href="{% url 'web_cart_buy' product.id %}"
                                                           class="top_sell_a_tag top_sell_a_tag_2 text-center d-inline-block text-white bg-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">
                                                            Buy Now
                                                        </a>
                                                        <a href="{% url 'web_cart_sell' product.id %}"
                                                           class="top_sell_a_tag top_sell_a_tag_3 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Sell</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="new_releases_sec" class="position-relative overflow-hidden">
            <div class="new new_releases_container">
                <div class="container product-slider-sec">
                    <div class="pt-md-5 border-top padd-top-bot mb-3">
                        <div class="row align-items-center">
                            <div class="col-md-7 col-7">
                                <div class="main_def_title">
                                    <h2 class="text-uppercase text-dark oswald_font font_30 bold_600">Recommanded for
                                        you</h2>
                                </div>
                            </div>
                            <div class="col-md-5 col-5">
                                <div class="right_smll_text text-right">
                                    <h6>
                                        <a href="categories-detail.html"
                                           class="open_sans bold_700 text-green text-right font_16 see-all-btn">See All
                                            <i
                                                    class="fa fa-angle-right font_20" aria-hidden="true"></i></a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="new_releases_slider_main mt-4 pt-2">
                            <div class="top_selling_slider new_releases_slider owl-carousel owl-theme owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage">
                                        <div class="owl-item active">
                                            <div class="item">
                                                <div class="top_selling_product_box">
                                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                                        <div class="label_sell position-absolute bg-light px-sm-3 px-lg-3 px-xl-4 py-sm-2">
                                                            <span class="text-uppercase open_sans bold_700 font_20">April 18</span>
                                                        </div>
                                                        <div class="add-top-cart-btn">
                                                            <a href="#"><i class="fa fa-shopping-cart"
                                                                           aria-hidden="true"></i> Add To Cart</a>
                                                        </div>
                                                        <a href="javascript:void(0);"
                                                           class="d-inline-block w-100 h-100 image_hover position-relative">
                                                            <img src="{% static 'web/images/new_releases_product_1.png' %}"
                                                                 class="img-fluid"/></a>
                                                    </div>
                                                    <div class="top_sell_title text-center mt-3">
                                                        <h3><a href="javascript:void(0);"
                                                               class="open_sans bold_400 font_20">Jordan 6 Retro DMP
                                                            (2020)</a></h3>
                                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">
                                                            $230.00</h4>
                                                    </div>
                                                    <div class="cart-btn-mobile ">
                                                        <a href="#"><i class="fa fa-shopping-cart"
                                                                       aria-hidden="true"></i>
                                                            Add To Cart</a>
                                                    </div>
                                                    <div class="top_sell_opetion d-flex align-items-center justify-content-between mt-4">
                                                        {#                                                        <a href="{% url 'web_cart_bid' %}"#}
                                                        {#                                                           class="top_sell_a_tag top_sell_a_tag_1 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Bid</a>#}
                                                        {#                                                        <a href="{% url 'web_cart_buy' %}"#}
                                                        {#                                                           class="top_sell_a_tag top_sell_a_tag_2 text-center d-inline-block text-white bg-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">#}
                                                        {#                                                            Buy Now#}
                                                        {#                                                        </a>#}
                                                        {#                                                        <a href="{% url 'web_cart_sell' %}"#}
                                                        {#                                                           class="top_sell_a_tag top_sell_a_tag_3 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Sell</a>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active">
                                            <div class="item">
                                                <div class="top_selling_product_box">
                                                    <div class="top_sell_img border bg-white overflow-hidden">
                                                        <div class="label_sell position-absolute bg-light px-sm-3 px-lg-3 px-xl-4 py-sm-2">
                                                            <span class="text-uppercase open_sans bold_700 font_20">April 17</span>
                                                        </div>
                                                        <div class="add-top-cart-btn">
                                                            <a href="#"><i class="fa fa-shopping-cart"
                                                                           aria-hidden="true"></i> Add To Cart</a>
                                                        </div>
                                                        <a href="javascript:void(0);"
                                                           class="d-inline-block w-100 h-100 image_hover position-relative">
                                                            <img src="{% static 'web/images/new_releases_product_2.png' %}"
                                                                 class="img-fluid"/></a>
                                                    </div>
                                                    <div class="top_sell_title text-center mt-3">
                                                        <h3><a href="javascript:void(0);"
                                                               class="open_sans bold_400 font_20">Adidas Yeezy Boost 350
                                                            V2
                                                            Linen</a></h3>
                                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">
                                                            $270.00</h4>
                                                    </div>
                                                    <div class="cart-btn-mobile ">
                                                        <a href="#"><i class="fa fa-shopping-cart"
                                                                       aria-hidden="true"></i>
                                                            Add To Cart</a>
                                                    </div>
                                                    {#                                                    <div class="top_sell_opetion d-flex align-items-center justify-content-between mt-4">#}
                                                    {#                                                        <a href="{% url 'web_cart_bid' %}"#}
                                                    {#                                                           class="top_sell_a_tag top_sell_a_tag_1 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Bid</a>#}
                                                    {#                                                        <a href="{% url 'web_cart_buy' %}"#}
                                                    {#                                                           class="top_sell_a_tag top_sell_a_tag_2 text-center d-inline-block text-white bg-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">#}
                                                    {#                                                            Buy Now#}
                                                    {#                                                        </a>#}
                                                    {#                                                        <a href="{% url 'web_cart_sell' %}"#}
                                                    {#                                                           class="top_sell_a_tag top_sell_a_tag_3 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Sell</a>#}
                                                    {#                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active">
                                            <div class="item">
                                                <div class="top_selling_product_box">
                                                    <div class="top_sell_img border bg-white overflow-hidden">
                                                        <div class="label_sell position-absolute bg-light px-sm-3 px-lg-3 px-xl-4 py-sm-2">
                                                            <span class="text-uppercase open_sans bold_700 font_20">April 18</span>
                                                        </div>
                                                        <div class="add-top-cart-btn">
                                                            <a href="#"><i class="fa fa-shopping-cart"
                                                                           aria-hidden="true"></i> Add To Cart</a>
                                                        </div>
                                                        <a href="javascript:void(0);"
                                                           class="d-inline-block w-100 h-100 image_hover position-relative">
                                                            <img src="{% static 'web/images/new_releases_product_3.png' %}"
                                                                 class="img-fluid"/></a>
                                                    </div>
                                                    <div class="top_sell_title text-center mt-3">
                                                        <h3><a href="javascript:void(0);"
                                                               class="open_sans bold_400 font_20">Jordan 1 Retro High
                                                            Court
                                                            Purple White</a></h3>
                                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">
                                                            $200.00</h4>
                                                    </div>
                                                    <div class="cart-btn-mobile ">
                                                        <a href="#"><i class="fa fa-shopping-cart"
                                                                       aria-hidden="true"></i>
                                                            Add To Cart</a>
                                                    </div>
                                                    {#                                                    <div class="top_sell_opetion d-flex align-items-center justify-content-between mt-4">#}
                                                    {#                                                        <a href="{% url 'web_cart_bid' %}"#}
                                                    {#                                                           class="top_sell_a_tag top_sell_a_tag_1 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Bid</a>#}
                                                    {#                                                        <a href="{% url 'web_cart_buy' %}"#}
                                                    {#                                                           class="top_sell_a_tag top_sell_a_tag_2 text-center d-inline-block text-white bg-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">#}
                                                    {#                                                            Buy Now#}
                                                    {#                                                        </a>#}
                                                    {#                                                        <a href="{% url 'web_cart_sell' %}"#}
                                                    {#                                                           class="top_sell_a_tag top_sell_a_tag_3 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Sell</a>#}
                                                    {#                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item">
                                            <div class="item">
                                                <div class="top_selling_product_box">
                                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                                        <div class="label_sell position-absolute bg-light px-sm-3 px-lg-3 px-xl-4 py-sm-2">
                                                            <span class="text-uppercase open_sans bold_700 font_20">April 18</span>
                                                        </div>
                                                        <div class="add-top-cart-btn">
                                                            <a href="#"><i class="fa fa-shopping-cart"
                                                                           aria-hidden="true"></i> Add To Cart</a>
                                                        </div>
                                                        <a href="javascript:void(0);"
                                                           class="d-inline-block w-100 h-100 image_hover position-relative">
                                                            <img src="{% static 'web/images/new_releases_product_1.png.png' %}"
                                                                 class="img-fluid"/></a>
                                                    </div>
                                                    <div class="top_sell_title text-center mt-3">
                                                        <h3><a href="javascript:void(0);"
                                                               class="open_sans bold_400 font_20">Jordan 6 Retro DMP
                                                            (2020)</a></h3>
                                                        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">
                                                            $230.00</h4>
                                                    </div>
                                                    <div class="cart-btn-mobile ">
                                                        <a href="#"><i class="fa fa-shopping-cart"
                                                                       aria-hidden="true"></i>
                                                            Add To Cart</a>
                                                    </div>
                                                    <div class="top_sell_opetion d-flex align-items-center justify-content-between mt-4">
                                                        {#                                                        <a href="{% url 'web_cart_bid' %}"#}
                                                        {#                                                           class="top_sell_a_tag top_sell_a_tag_1 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Bid</a>#}
                                                        {#                                                        <a href="{% url 'web_cart_buy' %}"#}
                                                        {#                                                           class="top_sell_a_tag top_sell_a_tag_2 text-center d-inline-block text-white bg-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">#}
                                                        {#                                                            Buy Now#}
                                                        {#                                                        </a>#}
                                                        {#                                                        <a href="{% url 'web_cart_sell' %}"#}
                                                        {#                                                           class="top_sell_a_tag top_sell_a_tag_3 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Sell</a>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <button type="button" class="owl-prev disabled"><span aria-label="Previous">‹</span>
                                    </button>
                                    <button type="button" class="owl-next"><span aria-label="Next">›</span></button>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- size chart modal -->
    <div class="modal fade" id="size_chart_modal" tabindex="-1" role="dialog" aria-labelledby="size_chart_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body position-relative">
                    <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-cancel" aria-hidden="true"></i>
                    </button>
                    <div class="sell-detail m-r-20 m-l-20">
                        <h2 class="text-uppercase text-dark oswald_font font_30 bold_600 text-center">Size Chart</h2>
                        <div class="highest-size mt-3">
                            {% for sizes in all_sizes %}
                                <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2 mt-2">
                                    {% for size in sizes %}
                                        <div class="highest-size-box mx-1">
                                            <input type="checkbox" id="{{ size.id }}">
                                            <label for="{{ size.id }}">
                                                <span id="user_size_{{ size.id }}">{{ size.name }}<span>${{ size.price }}</span></span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_block %}

    <script>
        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });

        //datepicker
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <!-- owl caro slider -->
    <script>
        $('.top_selling_slider').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            dots: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: true
                },
                768: {
                    items: 2,
                    nav: true
                },
                992: {
                    items: 3,
                    loop: false,
                    margin: 10,
                    nav: true
                },
                1200: {
                    items: 3,
                    //nav:true,
                    loop: false,
                    margin: 30
                }
            }
        })
    </script>
    <!-- slick slider -->
    <script>
        $('.slider-single').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: false,
            dots: true,
            adaptiveHeight: true,
            infinite: false,
            useTransform: true,
            speed: 400,
            cssEase: 'cubic-bezier(0.77, 0, 0.18, 1)',
        });

        $('.slider-nav')
            .on('init', function (event, slick) {
                $('.slider-nav .slick-slide.slick-current').addClass('is-active');
            })
            .slick({
                slidesToShow: 4,
                slidesToScroll: 4,
                dots: false,
                vertical: true,
                focusOnSelect: false,
                infinite: false,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                    }
                }, {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                    }
                }, {
                    breakpoint: 420,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                    }
                }]
            });

        $('.slider-single').on('afterChange', function (event, slick, currentSlide) {
            $('.slider-nav').slick('slickGoTo', currentSlide);
            var currrentNavSlideElem = '.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]';
            $('.slider-nav .slick-slide.is-active').removeClass('is-active');
            $(currrentNavSlideElem).addClass('is-active');
        });

        $('.slider-nav').on('click', '.slick-slide', function (event) {
            event.preventDefault();
            var goToSingleSlide = $(this).data('slick-index');

            $('.slider-single').slick('slickGoTo', goToSingleSlide);
        });
    </script>
{% endblock %}
