{% load static %}
{% if products %}
    {% for product in products %}
        <div class="top_selling_product_box col-lg-4 col-md-6">
            <div class="top_sell_img border bg-white position-relative overflow-hidden">
                <div class="add-top-cart-btn">
                    <form method="post"
                          action="{% url 'web_cart_add_product' product.id %}">
                        <button type="submit">
                            <a>
                                <i class="fa fa-shopping-cart" aria-hidden="true">
                                </i>
                                Add
                                To Cart</a>
                        </button>
                    </form>
                </div>
                <a href="javascript:void(0);"
                   class="d-block w-100 h-100 image_hover position-relative">
                    <img src="{{ product.url }}"
                         alt=""
                         class="img-fluid"/></a>
            </div>
            <div class="top_sell_title text-center mt-3">
                <h3><a href="{% url 'product_detail' product.id %}"
                       class="open_sans bold_400 font_20">{{ product.title }}</a></h3>
                <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">
                    ${{ product.listing_price }}</h4>
            </div>
            <div class="cart-btn-mobile ">
                <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add
                    To
                    Cart</a>
            </div>
            <div class="top_sell_opetion d-flex align-items-center justify-content-between mt-4">
                <a href="{% url 'web_cart_bid' product.id %}"
                   class="top_sell_a_tag top_sell_a_tag_1 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Bid</a>
                <a href="{% url 'web_cart_buy' product.id %}"
                   class="top_sell_a_tag top_sell_a_tag_2 text-center d-inline-block text-white bg-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Buy
                    Now</a>
                <a href="{% url 'web_cart_sell' product.id %}"
                   class="top_sell_a_tag top_sell_a_tag_3 text-center d-inline-block text-dark border text-uppercase font_16 px-lg-4 py-lg-2 px-xl-5 py-xl-2 bold_700">Sell</a>
            </div>
        </div>
        <div class="clearfix"></div>

    {% endfor %}
{% else %}
    <div class="top_sell_img position-relative  align-content-center overflow-hidden text-c-red">
        <h3>No Product Found</h3>
    </div>
{% endif %}
{#<div class="top_selling_product_box col-lg-4 col-md-6 mobile-top-product">#}
{#    <div class="top_sell_img border bg-white position-relative overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-block w-100 h-100 image_hover position-relative">#}
{#            <img src="{% static 'web/images/top_selling_product_2.png' %}" alt=""#}
{##}
{#                 class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White#}
{#            x Air Force 1 Low '07'-MoMA</a></h3>#}
{#        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">#}
{#            $270.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="top_selling_product_box col-lg-4 col-md-6 mobile-top-product mobile-top-product1">#}
{#    <div class="top_sell_img border bg-white position-relative overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-block w-100 h-100 image_hover position-relative"> <img#}
{#                src="{% static 'web/images/top_selling_product_3.png' %}" alt=""#}
{##}
{#                class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White#}
{#            x Air Max 90-Desert Ore</a></h3>#}
{#        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">#}
{#            $200.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="top_selling_product_box col-lg-4 col-md-6  padd-top-product">#}
{#    <div class="top_sell_img border bg-white position-relative overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-inline-block w-100 h-100 image_hover position-relative"> <img#}
{#                src="{% static 'web/images/new_releases_product_1.png.png' %}"#}
{#                alt="" class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan#}
{#            6 Retro DMP (2020)</a></h3>#}
{#        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$230.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">#}
{#    <div class="top_sell_img border bg-white overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-inline-block w-100 h-100 image_hover position-relative"> <img#}
{#                src="{% static 'web/images/new_releases_product_2.png.png' %}"#}
{#                alt="" class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas#}
{#            Yeezy Boost 350 V2 Linen</a></h3>#}
{#        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">#}
{#    <div class="top_sell_img border bg-white overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-inline-block w-100 h-100 image_hover position-relative"> <img#}
{#                src="{% static 'web/images/new_releases_product_3.png.png' %}"#}
{#                alt="" class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan#}
{#            1 Retro High Court Purple White</a></h3>#}
{#        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">#}
{#    <div class="top_sell_img border bg-white position-relative overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-inline-block w-100 h-100 image_hover position-relative"> <img#}
{#                src="{% static 'web/images/featured_products_product_1.png.png' %}"#}
{#                alt="" class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas#}
{#            Yeezy Boost 350 V2 Cinder</a></h3>#}
{#        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$255.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">#}
{#    <div class="top_sell_img border bg-white overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-inline-block w-100 h-100 image_hover position-relative">#}
{#            <img src="{% static 'web/images/featured_products_product_2.png.png' %}"#}
{#                 alt="" class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas#}
{#            Yeezy Boost 350 V2 Zebra</a></h3>#}
{#        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">#}
{#    <div class="top_sell_img border bg-white overflow-hidden">#}
{#        <div class="add-top-cart-btn">#}
{#            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add#}
{#                To Cart</a>#}
{#        </div>#}
{#        <a href="javascript:void(0);"#}
{#           class="d-inline-block w-100 h-100 image_hover position-relative"> <img#}
{#                src="{% static 'web/images/featured_products_product_3.pngea.png' %}"#}
{#                alt="" class="img-fluid"/></a>#}
{#    </div>#}
{#    <div class="top_sell_title text-center mt-3 ">#}
{#        <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan#}
{#            1 Retro High Court Purple White</a></h3>#}
{#        <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>#}
{#    </div>#}
{#    <div class="cart-btn-mobile ">#}
{#        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To#}
{#            Cart</a>#}
{#    </div>#}
{#</div>#}
{#<div class="clearfix"></div>#}
{#<div class="top_selling_product_box col-12 padd-top-product payouttt_offers_content text-center">#}
{#    <a href="javascript:void(0);"#}
{#       class="text-uppercase open_sans bold_700 text-white bg_green shop_btn d-inline-block font_26">View#}
{#        more</a>#}
{#</div>#}

{% block js_block %}

{% endblock %}
