{% extends 'base.html' %}
{% load static %}
{% block title %}-Search{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <!-- search bar -->
        <div class="container">
            <form>
                <div class="input-group search-bar-top">
                    {% if not request.GET.product_search %}
                        <input type="text" class="form-control" id="product_search_name" name="product_search_name"
                               placeholder="Search">
                    {% else %}
                        <input type="text" class="form-control" id="product_search_name" name="product_search_name"
                               placeholder="Search" value="{{ request.GET.product_search }}">
                    {% endif %}
                    <div class="input-group-append">
                        <button class="btn btn-secondary" id="search_btn_id" type="submit">
                            <i class="flaticon-search position-relative text-dark" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- top_selling_sec -->
        <section id="top_selling_sec" class="position-relative overflow-hidden">
            <div class="top_selling_container padd-top-bot">
                <div class="container product-slider-sec">
                    <div class="top_selling_slider_main categories-page">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <div class="row align-items-center">
                                    <div class="col-md-6 category-title-top"><h4><b>Home/</b> Category</h4></div>
                                    <div class="col-md-6">
                                        <div class="popularity-right-sec">
                                            <h4><b>Sort By:</b></h4>
                                            <div class="nice-select Wide" tabindex="0"><span
                                                    class="current">Popularity</span>
                                                <ul class="list" id="selected_popularity">
                                                    <li value="A-Z" class="option"><a>A-Z</a></li>
                                                    <li value="Z-A" class="option"><a>Z-A</a></li>
                                                    <li value="High" class="option"><a>Price High to Low</a></li>
                                                    <li value="Low" class="option"><a>Price Low to High</a></li>
                                                    {#<li value="Arrivals" class="option">New Arrivals</li>#}
                                                    {#<li value="Reccomended" class="option">Reccomended for me</li>#}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="refine-sec-top">
                                    <div class="brand-header-top">
                                        <div class="brand-header">
                                            <p>Refine (28 results)</p>
                                            <span class="mines-plus-circle">
                                            <i class="flaticon-minus" aria-hidden="true"></i>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="filter-right-sec">
                                        <div class="myaccordion active">
                                            <div class="brand-header">
                                                <h3>Brands</h3>
                                                <span class="mines-plus-circle">
                                            <i class="flaticon-minus" aria-hidden="true"></i>
                                        </span>
                                            </div>
                                            <div class="inner-accordion" id="selected_brand">
                                                {% for brand in brands %}
                                                    <div class="checkbox checkbox-inline">
                                                        <input type="checkbox" id="{{ brand }}" value="{{ brand }}"/>
                                                        <label for="{{ brand }}"> {{ brand }} </label>
                                                    </div>
                                                    {#                                                    <div class="checkbox checkbox-inline">#}
                                                    {#                                                        <input type="checkbox" id="inlineCheckbox1" value="{{brand}}"/>#}
                                                    {#                                                        <label for="inlineCheckbox1"> {{brand}} </label>#}
                                                    {#                                                    </div>#}
                                                    {#                                                    <div class="checkbox checkbox-inline">#}
                                                    {#                                                        <input type="checkbox" id="inlineCheckbox2" value="option3"/>#}
                                                    {#                                                        <label for="inlineCheckbox2"> Nike </label>#}
                                                    {#                                                    </div>#}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="myaccordion active padd-top-40">
                                            <div class="brand-header">
                                                <h3>Sizes</h3>
                                                <span class="mines-plus-circle">
                                                    <i class="flaticon-minus"
                                                       aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <div class="inner-accordion releasing-year-top">
                                                <div class="sizes-input-field">
                                                    <div class="checkbox checkbox-inline">
                                                        <input type="checkbox" id="inlineCheckbox10" value="option10"/>
                                                        <label for="inlineCheckbox10"> Mens </label>
                                                    </div>
{#                                                    <div class="checkbox checkbox-inline">#}
{#                                                        <input type="checkbox" id="inlineCheckbox11" value="option11"/>#}
{#                                                        <label for="inlineCheckbox11"> Gradeschool</label>#}
{#                                                    </div>#}
                                                    <div class="checkbox checkbox-inline">
                                                        <input type="checkbox" id="inlineCheckbox12" value="option12"/>
                                                        <label for="inlineCheckbox12"> Kids </label>
                                                    </div>
{#                                                    <div class="checkbox checkbox-inline">#}
{#                                                        <input type="checkbox" id="inlineCheckbox13" value="option13"/>#}
{#                                                        <label for="inlineCheckbox13"> Toddlers </label>#}
{#                                                    </div>#}
                                                    <div class="checkbox checkbox-inline">
                                                        <input type="checkbox" id="inlineCheckbox14" value="option14"/>
                                                        <label for="inlineCheckbox14"> Womens </label>
                                                    </div>
{#                                                    <div class="checkbox checkbox-inline">#}
{#                                                        <input type="checkbox" id="inlineCheckbox15" value="option15"/>#}
{#                                                        <label for="inlineCheckbox15"> Infant </label>#}
{#                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="myaccordion active padd-top-40">
                                            <div class="brand-header">
                                                <h3>Colors</h3>
                                                <span class="mines-plus-circle">
                                            <i class="flaticon-minus" aria-hidden="true"></i>
                                        </span>
                                            </div>
                                            <div class="inner-accordion" id="selected_color">
                                                {% for color in all_colors %}
                                                    <div class="checkbox checkbox-inline">
                                                        <input type="checkbox" id="{{ color }}" value="{{ color }}"/>
                                                        <label for="{{ color }}"> {{ color }} </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="padd-top-40">
                                            <div class="brand-header">
                                                <h3>Releasing year</h3>
                                            </div>
                                            <div class="inner-accordion releasing-year-top year-input-field">
                                                <div class="sizes-input-field" id="selected_year">
                                                    {% for year in release_year %}
                                                        <div class="checkbox checkbox-inline">
                                                            <input type="checkbox" id="{{ year }}" value="{{ year }}"/>
                                                            <label for="{{ year }}"> {{ year }} </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top_selling_slider col-md-8 col-lg-9">
                                <div class="row" id="search_filter_products">
                                    {% include 'search_ajax.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js_block %}

    <script>

        $(document).ready(function () {
            if ($(window).width() > 991) {
                //footer fixed js
                $(document).ready(function () {
                    var footer_padd = $("footer").height() + "px";
                    $("main").css("margin-bottom", footer_padd);
                })
            }
        });

        //parallax-scroll
        $(document).ready(function () {
            if ($(window).width() > 1200) {
                $(function () {
                    $(".download_payouttt_container").parallaxScroll({friction: .10, direction: "vertical"})
                });
            }
        });

        $(".myaccordion .brand-header").click(function () {
            $(this).siblings().slideToggle();
            $(this).parents('.myaccordion').toggleClass('active');
        });
        $(".refine-sec-top .brand-header-top").click(function () {
            $(this).siblings().slideToggle();
            $(".refine-sec-top").toggleClass('active');
        });
        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });
        var popularity = '';
        var selected_brands = [];
        var selected_colors = [];
        var selected_year = [];

        $(':checkbox').on('change', function () {
            selected_colors = [];
            selected_brands = [];
            selected_year = [];
            $('#selected_brand input:checked').each(function () {
                selected_brands.push($(this).attr('value'));
            });

            $('#selected_color input:checked').each(function () {
                selected_colors.push($(this).attr('value'));
            });

            $('#selected_year input:checked').each(function () {
                selected_year.push($(this).attr('value'));
            });

            if (($(this).attr('value')) !== undefined) {
                $.ajax({
                    type: 'Post',
                    url: "{% url 'web_search'%}",
                    data: {
                        "popularity": popularity,
                        "selected_brands": selected_brands,
                        "selected_colors": selected_colors,
                        "selected_years": selected_year,
                        "product_search": $("#product_search_name").val(),
                    },
                    success: function (data) {
                        $('#search_filter_products').html(data);
                    }
                });
            }
        });

        $('#search_btn_id').on('click', function (e) {
            e.preventDefault();
            var product_search = $('#product_search_name').val();
            $.ajax({
                type: 'Post',
                url: "{% url 'web_search'%}",
                data: {
                    "product_search": product_search,
                },
                success: function (data) {
                    $('#search_filter_products').html(data);
                }
            });
        });
        $('#product_search_name').on('keyup', function (e) {
            e.preventDefault();
            var product_search = $('#product_search_name').val();
            $.ajax({
                type: 'Post',
                url: "{% url 'web_search'%}",
                data: {
                    "product_search": product_search,
                },
                success: function (data) {
                    $('#search_filter_products').html(data);
                }
            });
        });

        $(".list li").on('click', function (e) {
            popularity = $(this).attr('value');
            if (($(this).attr('value')) !== undefined) {
                $.ajax({
                    type: 'Post',
                    url: "{% url 'web_search'%}",
                    data: {
                        "popularity": popularity,
                        "selected_brands": selected_brands,
                        "selected_colors": selected_colors,
                        "selected_years": selected_year,
                        "product_search": $("#product_search_name").val(),
                    },
                    success: function (data) {
                        $('#search_filter_products').html(data);
                    }
                });
            }
        });

    </script>
{% endblock %}
