{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="bg-white position-relative">
        <!-- top_selling_sec -->
        <section id="top_selling_sec" class="position-relative overflow-hidden">
            <div class="top_selling_container padd-top-bot">
                <div class="container product-slider-sec">

                    <div class="row align-items-center">
                        <div class="col-xl-3 col-md-5">
                            <div class="main_def_title">
                                <h2 class="text-uppercase text-dark oswald_font font_30 bold_600">Browse Sneakers</h2>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-7">
                            <div class="browse-sneakers-sec">
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                                <div class="filter-menu">
                                    <a href="#">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top_selling_slider_main has-search-selling">
                        <div class="top_selling_slider row">
                            <div class="top_selling_product_box col-lg-4 col-md-6">
                                <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/top_selling_product_1.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x Air
                                        Force 1 Low-The Ten</a></h3>
                                    <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$230.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 mobile-top-product">
                                <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/top_selling_product_2.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x Air
                                        Force 1 Low '07'-MoMA</a></h3>
                                    <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 mobile-top-product mobile-top-product1">
                                <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/top_selling_product_3.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Off-White x Air
                                        Max 90-Desert Ore</a></h3>
                                    <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/new_releases_product_1.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan 6 Retro
                                        DMP (2020)</a></h3>
                                    <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$230.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                <div class="top_sell_img border bg-white overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/new_releases_product_2.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas Yeezy
                                        Boost 350 V2 Linen</a></h3>
                                    <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                <div class="top_sell_img border bg-white overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/new_releases_product_3.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan 1 Retro
                                        High Court Purple White</a></h3>
                                    <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/featured_products_product_1.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas Yeezy
                                        Boost 350 V2 Cinder</a></h3>
                                    <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$255.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                <div class="top_sell_img border bg-white overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/featured_products_product_2.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Adidas Yeezy
                                        Boost 350 V2 Zebra</a></h3>
                                    <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$270.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-lg-4 col-md-6 padd-top-product">
                                <div class="top_sell_img border bg-white overflow-hidden">
                                    <div class="add-top-cart-btn">
                                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                            Cart</a>
                                    </div>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block w-100 h-100 image_hover position-relative"><img
                                            src="{% static 'web/images/featured_products_product_3.png' %}" alt="" class="img-fluid"/></a>
                                </div>
                                <div class="top_sell_title text-center mt-3 ">
                                    <h3><a href="javascript:void(0);" class="open_sans bold_400 font_20">Jordan 1 Retro
                                        High Court Purple White</a></h3>
                                    <h4 class="mt-2 oswald_font bold_600 font_20 text-dark">$200.00</h4>
                                </div>
                                <div class="cart-btn-mobile ">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart</a>
                                </div>
                            </div>
                            <div class="top_selling_product_box col-12 padd-top-product payouttt_offers_content text-center">
                                <a href="javascript:void(0);"
                                   class="text-uppercase open_sans bold_700 text-white bg_green shop_btn d-inline-block font_26">View
                                    All Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
