{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="bg-white position-relative">
        <!-- top_selling_sec -->
        <section id="top_selling_sec" class="position-relative overflow-hidden">
            <div class="top_selling_container padd-top-bot">
                <div class="container product-slider-sec">

                    <div class="row align-items-center">
                        <div class="col-xl-3 col-md-5">
                            <div class="main_def_title">
                                <h2 class="text-uppercase text-dark oswald_font font_30 bold_600">Browse Sneakers</h2>
                            </div>
                        </div>
                        <div class="col-xl-9 col-md-7">
                            <div class="browse-sneakers-sec">
                                {#                                <div class="form-group has-search">#}
                                {#                                    <span class="fa fa-search form-control-feedback"></span>#}
                                {#                                    <input type="text" class="form-control" placeholder="Search...">#}
                                {#                                </div>#}
                                {#                                <div class="filter-menu">#}
                                {#                                    <a href="#">#}
                                {#                                        <span></span>#}
                                {#                                        <span></span>#}
                                {#                                        <span></span>#}
                                {#                                    </a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                    <div class="top_selling_slider_main has-search-selling">
                        <div class="top_selling_slider row">
                            {% for product in products %}
                                <div class="top_selling_product_box col-lg-4 col-md-6">
                                    <div class="top_sell_img border bg-white position-relative overflow-hidden">
                                        <div class="add-top-cart-btn">
                                            <form method="post" action="{% url 'web_cart_add_product' product.id %}">
                                                {#                                                {{ product.shoe_sizes.all.count }}#}
                                                {% for size in product.shoe_sizes.all %}
                                                    <input hidden name="shoe_size_id"
                                                           value="{{ size.id }}-{{ product.listing_price }}">
                                                {% endfor %}
                                                <button type="submit" class="border-0 bg-transparent">
                                                    <a><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                        Cart</a></button>
                                            </form>
                                        </div>
                                        <a href="javascript:void(0);"
                                           class="d-block w-100 h-100 image_hover position-relative"><img
                                                src="{{ product.url }}" alt=""
                                                class="img-fluid"/></a>
                                    </div>
                                    <div class="top_sell_title text-center mt-3">
                                        <h3><a href="javascript:void(0);"
                                               class="open_sans bold_400 font_20">{{ product.title }}</a></h3>
                                        <h4 class="mt-lg-1 mt-xl-2 oswald_font bold_600 font_20 text-dark">
                                            ${{ product.listing_price }}</h4>
                                    </div>

                                    <div class="cart-btn-mobile ">
                                        <form method="post" action="{% url 'web_cart_add_product' product.id %}">
                                            {% for size in product.shoe_sizes.all %}
                                                <input hidden name="shoe_size_id"
                                                       value="{{ size.id }}-{{ product.listing_price }}">
                                            {% endfor %}
                                            <button type="submit" class="border-0 bg-transparent">
                                                <a><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To
                                                    Cart</a></button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
