{% extends 'base.html' %}
{% load static %}
{% block title %}-Sell{% endblock %}
{% block content %}
    <main class="bg-white position-relative">
        <section class="signup-step-container padd-top-bot">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                           aria-expanded="true"><span class="round-tab">1 </span> <i>Confirm
                                            Size</i></a>
                                    </li>
                                    <li role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                           aria-expanded="false"><span class="round-tab">2</span> <i>Sell Now</i></a>
                                    </li>
                                </ul>
                            </div>

                            <form class="login-box login-sell-now">
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <div class="col-12">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 product-left">
                                                    <div class="buy-new-product-left">
                                                        <img src="{{ product.url }}" alt=""
                                                             class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 product-right">
                                                    <div class="buy-now-top-sec">
                                                        <div class="inner-buy-now inner-buy-now1">
                                                            <p>Buy or Bid</p>
                                                            <span><b>${{ lowest_ask }} </b> lowest ask</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now2">
                                                            <p>Sell or Ask</p>
                                                            <span><b>${{ highest_bid }} </b> highest BId</span>
                                                        </div>
                                                        <div class="inner-buy-now inner-buy-now3">
                                                            <p>Last Sale</p>
                                                            <div class="last-sale-price">
                                                                {#                                                                <h3>$273.00</h3>#}
                                                                <a href="#"><i class="fa fa-arrow-down"
                                                                               aria-hidden="true"></i> -$1 (0%)</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h2 class="sec-heading">{{ product.title }}</h2>
                                                    <div class="border-line"></div>
                                                    <div class="row release-date">
                                                        <div class="col-md-8 col-md-7">
                                                            <p>Release Date: <b>{{ product.release_date }}</b></p>
                                                            <p>Colorway: <b>{{ product.colorway }}</b></p>
                                                        </div>
                                                        <div class="col-md-4 col-md-4">
                                                            <p>SKU: <b>{{ product.sku_number }}</b></p>
                                                            <p>Retail Price: <b>${{ product.retail_price }}</b></p>
                                                        </div>
                                                        <div class="col-md-4 col-md-7">
                                                            <p>Selected Size: <b
                                                                    id="selected_size"></b></p>
                                                        </div>
                                                    </div>
                                                    {% if not valid_address %}
                                                        <p style="color: red">Please Add Your Address Details
                                                            First.</p>
                                                    {% endif %}
                                                    <ul class="list-inline confirm-btn">
                                                        <li>
                                                            <button hidden type="button"
                                                                    id="shoe_size_chart_click_next_step"
                                                                    class="default-btn next-step border-0 text-uppercase open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                confirm
                                                            </button>
                                                            <button type="button" id="shoe_size_chart_click"
                                                                    class="default-btn text-uppercase border-0 open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                confirm
                                                            </button>
                                                            <button type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#size_chart_modal"
                                                                    href="javascript:void(0);"
                                                                    class="default-btn text-uppercase border-0 open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                                                                Select Size
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h2 class="sec-heading">{{ product.title }}</h2>
                                        <div class="row padd-top-30">
                                            <div class="col-md-6">
                                                <div class="total-price-sec">
                                                    <h3>Total Price</h3>
                                                    <div class="border-line"></div>
                                                    <div class="shiping-sec-top">
                                                        <p>Lowest Ask</p>
                                                        <span id="copy_asking_price">${{ lowest_ask }}</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p>Processing Fee</p>
                                                        <span>1%</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p>Transaction Fee</p>
                                                        <span>3%</span>
                                                    </div>
                                                    <div class="shiping-sec-top">
                                                        <p><b>Total Payouttt</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="total-price-sec total-price-sec2">
                                                    <h3>Asking Price </h3>
                                                    <div class="buy-now-field">
                                                        {% if valid_address %}
                                                            <input type="number" id="asking_price" min="1" name=""
                                                                   placeholder="Asking Price">
                                                        {% elif not user.is_authenticated %}
                                                            <input type="number" id="asking_price" min="1" name=""
                                                                   placeholder="Asking Price">
                                                        {% else %}
                                                            <input disabled type="number" placeholder="Asking Price">
                                                        {% endif %}
                                                        <span>$</span>
                                                    </div>
                                                    <a class="list-inline confirm-btn">
                                                        {% if valid_address %}
                                                            <button type="button" hidden
                                                                    id="success-btn"
                                                                    data-toggle="modal"
                                                                    data-target="#exampleModal"
                                                                    href="javascript:void(0);">
                                                            </button>
                                                            <button type="button" id="check_input_value"
                                                                    class="text-uppercase border-0 open_sans bold_700 bold_500 bg_green text-white shop_btn d-inline-block font_26">
                                                                List Ask
                                                            </button>
                                                            <button type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#suggest_new_product"
                                                                    href="javascript:void(0);"
                                                                    class="text-uppercase border-0 open_sans bold_700 bold_500 bg_green text-white shop_btn d-inline-block font_26">
                                                                Suggest Product
                                                            </button>
                                                        {% elif not user.is_authenticated %}
                                                            <a href='/login/?next=/product-sell/{{ product.id }}/'>
                                                                <button type="button" id="check_input_value_login"
                                                                        class="text-uppercase open_sans border-0 bold_700 bold_500 bg_green text-white shop_btn d-inline-block font_26">
                                                                    List
                                                                    Ask
                                                                </button>
                                                            </a>
                                                            <a href='/login/?next=/product-sell/{{ product.id }}/'>
                                                                <button type="button" id="check_input_value_login"
                                                                        class="text-uppercase border-0 open_sans bold_700 bold_500 bg_green text-white shop_btn d-inline-block font_26">
                                                                    Suggest Product
                                                                </button>
                                                            </a>

                                                        {% else %}
                                                            <button disabled type="button"
                                                                    class="text-uppercase open_sans border-0 bold_700 bold_500 bg_green text-white shop_btn d-inline-block font_26">
                                                                list
                                                                ask
                                                            </button>
                                                            <a>
                                                                <button id="check_input_value_login"
                                                                        type="button"
                                                                        data-toggle="modal"
                                                                        data-target="#suggest_new_product"
                                                                        href="javascript:void(0);"
                                                                        class="text-uppercase open_sans border-0 bold_700 bold_500 bg_green text-white shop_btn d-inline-block font_26">
                                                                    Suggest Product
                                                                </button>
                                                            </a>
                                                        {% endif %}
                                                    </a>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Sell Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="success-checkmark">
                        <div class="check-icon">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h2 id="message-head"></h2>
                    <p id="message-body"></p>
                </div>
                <a href="{% url 'web_cart_bid' product.id %}" class="text-center pb-3">
                    <button type="submit" id="Done_close_modal"
                            class="default-btn border-0 text-uppercase open_sans bold_500 text-white bg_green shop_btn d-inline-block  mt-lg-2 mt-xl-4">
                        Done
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- Popup list -->
    <!-- Give us Feedback -->
    <div class="modal fade" tabindex="-1" role="dialog" id="suggest_new_product" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered media-modal-wrap" role="document">
            <div class="modal-content point-modal-box">
                <div class="modal-header border-0 justify-content-start align-items-center pt-4 px-4 pb-3">
                    <div class="close-icon d-block position-absolute">
                        <a href="javascript:void(0);" class="bg-transparent border-0 p-0 d-inline-block text-dark"><i
                                class="flaticon-cancel" aria-hidden="true"></i></a>
                    </div>
                    <h2 class="text-uppercase text-dark oswald_font font_30 bold_600">Suggest New Product</h2>
                    <div class="cancel-btn ml-auto" data-dismiss="modal">
                        <div class="close d-flex position-relative justify-content-center align-items-center">
                            <span></span><span></span></div>
                    </div>
                </div>
                <div class="modal-body border-0 pb-4 pt-0 px-4">
                    <form action="{% url 'product_suggest' %}" method="post">
                        <div class="name-active ">
                            <div class="modal-header border-0 justify-content-start align-items-center pb-3 px-0 pt-0">
                                {#                                <input class="input-field w-100 border py-3 px-3" type="text" id="new-product"#}
                                {#                                       name="new-product" placeholder="New Product">#}
                                {{ product_suggest_form.name }}
                                <input hidden class="input-field w-100 border py-3 px-3" type="text" id="product-id"
                                       name="product-id" value="{{ product.id }}">
                            </div>
                            <div class="field_row_pop gray_c position-relative w-100 d-inline-block">
                                {#                                <textarea aria-invalid="false" class="input-field w-100 border py-3 px-3"#}
                                {#                                          name="product-info" rows="4" placeholder="Product Info"></textarea>#}
                                {{ product_suggest_form.description }}
                            </div>
                            <div class="field_row_pop field_btn mt-3">
                                <button type="submit" name="send-to-payouttt"
                                        class="d-block text-white border-0 text-center bg_green text-uppercase def_btn_admin border-0 w-100 bold_600 font_20">
                                    Send To Payouttt
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- size chart modal -->
    <div class="modal fade" id="size_chart_modal" tabindex="-1" role="dialog" aria-labelledby="size_chart_modal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body position-relative">
                    <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close">
                        <i class="flaticon-cancel" aria-hidden="true"></i>
                    </button>
                    <div class="sell-detail m-r-20 m-l-20">
                        <h2 class="text-uppercase text-dark oswald_font font_30 bold_600 text-center">Select Size</h2>
                        <div class="highest-size mt-3">
                            {% for sizes in all_sizes %}
                                <div class="highest-size-inner d-flex align-items-center justify-content-between mx-n2 mt-2">
                                    {% for size in sizes %}
                                        <div class="highest-size-box mx-1">
                                            <input type="checkbox" id="{{ size.id }}">
                                            <label for="{{ size.id }}" data-dismiss="modal"
                                                   onclick="set_shoe_size({{ size.id }})">
                                                <span id="user_size_{{ size.id }}">{{ size.name }}<span>${{ size.price }}</span></span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script>
        // ------------step-wizard-------------
        $(document).ready(function () {
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var target = $(e.target);

                if (target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                active.next().removeClass('disabled');
                nextTab(active);

            });
            $(".prev-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                prevTab(active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }

        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }


        $('.nav-tabs').on('click', 'li', function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).addClass('active');
        });

        // ==================================== Select DropDown Js ====================================
        $(document).ready(function () {
            $('select').niceSelect();
        });
        var shoe_size_id = "Size";
        $("#shoe_size_chart_click").on('click', function (e) {
            if (shoe_size_id === 'Size') {

                alert("please select shoe size first");

            } else {
                $('#shoe_size_chart_click_next_step').click();
            }

        });

        {#$("#asking_price").on('keyup', function (e) {#}
        {#    e.preventDefault(); // avoid to execute the actual submit of the form.#}
        {#    var asking_price = $("#asking_price").val();#}
        {#    console.log(asking_price);#}
        {#    if (asking_price !== 0 && asking_price !== '') {#}
        {#        $('#copy_asking_price').text("$" + asking_price);#}
        {#    }#}
        {# });#}


        $("#check_input_value").on('click', function (e) {
            var asking_price = $("#asking_price").val();
            if (shoe_size_id !== "Size" && asking_price !== '' && asking_price !== '0') {
                $.ajax({
                    type: 'Post',
                    url: "{% url 'web_cart_sell' product.id %}",
                    data: {
                        "shoe_size_id": shoe_size_id,
                        'asking_price': asking_price,
                        'sku_number': '{{product.sku_number}}',
                    },
                    success: function (data) {
                        if (data['bid_success']) {
                            $('#message-body').text(data['message']);
                            $('#message-head').text(data['bid']);
                            $('#success-btn').click()
                        } else {
                            $('#message-body').text(data['message']);
                            $('#message-head').text(data['bid']);
                            $('#success-btn').click()
                        }
                    }
                });
            } else {
                $('#asking_price').css({'border-color': 'red'});
            }

        });

        function set_shoe_size(size) {
            shoe_size_id = size;
            $('#selected_size').text($('#user_size_' + size).text());
        }
    </script>
{% endblock %}
