{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <style>
        .transparant-button {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }
    </style>
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ daily sales section ] start-->
                        {#                        <div class="col-md-6 col-xl-4">#}
                        {#                            <div class="card daily-sales">#}
                        {#                                <div class="card-block">#}
                        {#                                    <h6 class="mb-4">Daily Sales</h6>#}
                        {#                                    <div class="row d-flex align-items-center">#}
                        {#                                        <div class="col-9">#}
                        {#                                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i#}
                        {#                                                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ {{ daily }}#}
                        {#                                            </h3>#}
                        {#                                        </div>#}
                        {##}
                        {#                                        <div class="col-3 text-right">#}
                        {#                                            <p class="m-b-0">67%</p>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="progress m-t-30" style="height: 7px;">#}
                        {#                                        <div class="progress-bar progress-c-theme" role="progressbar"#}
                        {#                                             style="width: 50%;" aria-valuenow="50" aria-valuemin="0"#}
                        {#                                             aria-valuemax="100"></div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-md-6 col-xl-4">#}
                        {#                            <div class="card Monthly-sales">#}
                        {#                                <div class="card-block">#}
                        {#                                    <h6 class="mb-4">Monthly Sales</h6>#}
                        {#                                    <div class="row d-flex align-items-center">#}
                        {#                                        <div class="col-9">#}
                        {#                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i#}
                        {#                                                    class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$#}
                        {#                                                {{ monthly }}</h3>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-3 text-right">#}
                        {#                                            <p class="m-b-0">36%</p>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="progress m-t-30" style="height: 7px;">#}
                        {#                                        <div class="progress-bar progress-c-theme2" role="progressbar"#}
                        {#                                             style="width: 35%;" aria-valuenow="35" aria-valuemin="0"#}
                        {#                                             aria-valuemax="100"></div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <!--[ Monthly  sales section ] end-->
                        <!--[ year  sales section ] starts-->
                        {#                        <div class="col-md-12 col-xl-4">#}
                        {#                            <div class="card yearly-sales">#}
                        {#                                <div class="card-block">#}
                        {#                                    <h6 class="mb-4">Yearly Sales</h6>#}
                        {#                                    <div class="row d-flex align-items-center">#}
                        {#                                        <div class="col-9">#}
                        {#                                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i#}
                        {#                                                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$#}
                        {#                                                {{ yearly }}</h3>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-3 text-right">#}
                        {#                                            <p class="m-b-0">100%</p>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                    <div class="progress m-t-30" style="height: 7px;">#}
                        {#                                        <div class="progress-bar progress-c-theme" role="progressbar"#}
                        {#                                             style="width: 70%;" aria-valuenow="70" aria-valuemin="0"#}
                        {#                                             aria-valuemax="100"></div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <!--[ year  sales section ] end-->
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-12 col-md-12">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Non Paid Orders</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Order DT</th>
                                                <th>Product</th>
                                                <th>Contacts</th>
                                                <th>Listing</th>
                                                <th>Bid Amount</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for bid in paid_bids %}
                                                <tr class="unread">
                                                    <td><span title="{{ bid.order_id }}">{{ bid.id }}</span></td>
                                                    <td>{{ bid.timestamp }}</td>
                                                    <td><span
                                                            title="{{ bid.product_to_bid_on.title }}">{{ bid.product_to_bid_on.title|truncatechars:20 }}</span>
                                                    </td>
                                                    <td>Seller: {{ bid.product_to_bid_on.seller }}
                                                        <br>Buyer:{{ bid.user }}</td>

                                                    <td>{{ bid.product_to_bid_on.listing_price }}</td>
                                                    <td>{{ bid.bid_amount }}</td>
                                                    <td>
                                                        <button type="button" class="transparant-button"
                                                                data-toggle="modal"
                                                                data-target="#paid_order_{{ bid.id }}">
                                                            <i style="color: grey;" class="feather icon-info"></i>
                                                        </button>
                                                        <form action="{% url 'remove-order' bid.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="transparant-button"><i
                                                                    style="color: red;"
                                                                    class="feather icon-delete"></i></button>
                                                        </form>


                                                        <div class="modal fade"
                                                             id="paid_order_{{ bid.id }}"
                                                             tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            Order Details
                                                                        </h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <table class="table table-striped ">
                                                                            <tbody>
                                                                            <tr class="unread">
                                                                                <td>Buyer Email</td>
                                                                                <td>{{ bid.user.email }}</td>
                                                                            </tr>
                                                                            <tr class="unread">
                                                                                <td>Seller Email</td>
                                                                                <td>{{ bid.product_to_bid_on.seller.email }}</td>
                                                                            </tr>
                                                                            <tr class="unread">
                                                                                <td>Payment Method</td>
                                                                                <td>{{ bid.get_payment.get_payment_method_display }}</td>
                                                                            </tr>
                                                                            <tr class="unread">
                                                                                <td>Seller Tracking label</td>
                                                                                <td>{{ bid.get_payment.seller_tracking }}</td>
                                                                            </tr>
                                                                            <tr class="unread">
                                                                                <td>Seller Tracking Url</td>
                                                                                <td>
                                                                                    <a href="{{ bid.get_payment.seller_purchase_label }}"
                                                                                       target="_blank">Tracking
                                                                                        Url</a></td>
                                                                            </tr>

                                                                            <tr class="unread">
                                                                                <td>Buyer Tracking label</td>
                                                                                <td>{{ bid.get_payment.purchase_tracking }}</td>
                                                                            </tr>
                                                                            <tr class="unread">
                                                                                <td>Buyer Tracking Url</td>
                                                                                <td>
                                                                                    <a href="{{ bid.get_payment.purchase_label }}"
                                                                                       target="_blank">Tracking
                                                                                        Url</a></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>


                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>



                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
